Repository parameter1/base-cms, pull requests merged in 2021-07, with the labels that each got.

#115 Add `siteQueryOperator` to `WebsiteRedirectQueryInput`
  services/graphql-server/src/graphql/definitions/website/redirect.js
  services/graphql-server/src/graphql/resolvers/website/redirect.js
Labels: service: graphql-server

#117 Add mutation to create content
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#118 Add mutation for setting content address fields
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#119 Add mutation to modify content contact fields
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#120 Create contentPublishing mutation
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#121 Add mutations for setting content body and teaser fields
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#122 Add mutation to set a custom attribute
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#124 Add beginning & ending inputs to websiteScheduledContent query
  packages/web-common/src/block-loaders/website-scheduled-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: package: web-common, service: graphql-server

#123 Add mutation for setting event dates
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#128 Add mutation to set a custom attribute
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#127 Add mutation to set event dates
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#129 Support Base mutations for name, teaser, and body
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#116 Add mutation to create a website schedule
  services/graphql-server/src/graphql/definitions/website/schedule.js
  services/graphql-server/src/graphql/resolvers/website/schedule.js
Labels: service: graphql-server

#131 Create generic Apollo SSR client factory package
  packages/apollo-ssr/package.json
  packages/apollo-ssr/src/index.js
  packages/express-apollo/package.json
  packages/express-apollo/src/create-client.js
Labels: package: apollo-ssr

#132 Add Base Browse GraphQL middleware
  packages/marko-web/express/index.js
  packages/marko-web/package.json
  packages/marko-web/start-server.js
  packages/web-cli/src/gulp/server.js
Labels: package: marko-web, package: web-cli

#130 Show video icon if item has videos
  packages/leaders-program/src/components/containers/section.vue
  packages/leaders-program/src/components/list/nav/contents.vue
Labels: package: leaders-program

#134 Create `marko-web-search` package
  packages/marko-web-search/.eslintignore
  packages/marko-web-search/.eslintrc.js
  packages/marko-web-search/browser/.eslintrc.js
  packages/marko-web-search/browser/index.js
  packages/marko-web-search/browser/toggle-filter-button.vue
  packages/marko-web-search/browser/toggle-filters-button.vue
  packages/marko-web-search/components/build-href.marko
  packages/marko-web-search/components/filters/content-types.marko
  packages/marko-web-search/components/filters/filter-block.marko
  packages/marko-web-search/components/filters/filter-container.marko
  packages/marko-web-search/components/filters/load-website-sections.js
  packages/marko-web-search/components/filters/marko.json
  packages/marko-web-search/components/filters/selected/index.marko
  packages/marko-web-search/components/filters/selected/item.marko
  packages/marko-web-search/components/filters/selected/marko.json
  packages/marko-web-search/components/filters/website-sections.marko
  packages/marko-web-search/components/form/index.marko
  packages/marko-web-search/components/form/input.marko
  packages/marko-web-search/components/form/marko.json
  packages/marko-web-search/components/links/link.marko
  packages/marko-web-search/components/links/marko.json
  packages/marko-web-search/components/links/next-page.marko
  packages/marko-web-search/components/links/previous-page.marko
  packages/marko-web-search/components/links/reset-filter.marko
  packages/marko-web-search/components/links/set-filter-value.marko
  packages/marko-web-search/components/marko.json
  packages/marko-web-search/components/pagination-controls.marko
  packages/marko-web-search/components/query-child-sections.marko
  packages/marko-web-search/components/query.marko
  packages/marko-web-search/config/index.js
  packages/marko-web-search/config/param.js
  packages/marko-web-search/config/query-params.js
  packages/marko-web-search/index.js
  packages/marko-web-search/loaders/search.js
  packages/marko-web-search/marko.json
  packages/marko-web-search/middleware.js
  packages/marko-web-search/package.json
  yarn.lock
Labels: package: marko-web-search
