Repository parameter1/base-cms, pull requests merged in 2021-03, with the labels that each got.

#33 Create company links and GTM tracker components
  packages/db/package.json
  packages/leaders-program/package.json
  packages/marko-web-leaders/browser/company-social-link.vue
  packages/marko-web-leaders/browser/company-website-link.vue
  packages/marko-web-leaders/browser/gtm-tracker.vue
  packages/marko-web-leaders/browser/index.js
  packages/marko-web-leaders/components/company-social-link.marko
  packages/marko-web-leaders/components/company-website-link.marko
  packages/marko-web-leaders/components/gtm-tracker.marko
  packages/marko-web-leaders/components/marko.json
  packages/marko-web-leaders/package.json
  packages/marko-web-p1-events/browser/track-leaders.vue
  packages/object-path/package.json
  yarn.lock
Labels: package: marko-web-leaders, package: marko-web-p1-events

#34 Create Leaders click event emitter
  packages/marko-web-leaders/browser/click-emitter.vue
  packages/marko-web-leaders/browser/gtm-tracker.vue
  packages/marko-web-leaders/browser/index.js
  packages/marko-web-leaders/components/click-emitter.marko
  packages/marko-web-leaders/components/marko.json
  packages/marko-web-leaders/package.json
  packages/marko-web-leaders/utils/event-attrs.js
  packages/marko-web-leaders/utils/event-link-attrs.js
  yarn.lock
Labels: package: marko-web-leaders

#35 Optionally pass link attributes to contact website
  packages/marko-web-theme-default/components/content/contact-details/index.marko
  packages/marko-web-theme-default/components/content/contact-details/marko.json
Labels: package: marko-web-theme-default

#36 Restructure click/link tracking within P1 Events and Leaders
  packages/marko-web-leaders/browser/click-emitter.vue
  packages/marko-web-leaders/browser/index.js
  packages/marko-web-leaders/browser/p1events-tracker.vue
  packages/marko-web-leaders/components/click-emitter.marko
  packages/marko-web-leaders/components/marko.json
  packages/marko-web-leaders/components/p1events-tracker.marko
  packages/marko-web-leaders/package.json
  packages/marko-web-leaders/utils/event-attrs.js
  packages/marko-web-leaders/utils/event-link-attrs.js
  packages/marko-web-p1-events/browser/.eslintrc.js
  packages/marko-web-p1-events/browser/index.js
  packages/marko-web-p1-events/components/init.marko
  packages/marko-web-p1-events/components/marko.json
  packages/marko-web-p1-events/components/track-leaders.marko
  packages/marko-web-p1-events/package.json
  packages/marko-web-p1-events/utils/base-content-entity.js
  packages/marko-web-p1-events/utils/base-entity.js
  packages/marko-web-p1-events/utils/link-attrs.js
  packages/marko-web-theme-default/components/content/contact-details/index.marko
  packages/marko-web-theme-default/components/content/contact-details/marko.json
  packages/marko-web-theme-default/components/social/icon-link.marko
  packages/marko-web-theme-default/components/social/marko.json
  yarn.lock
Labels: package: marko-web-leaders, package: marko-web-p1-events, package: marko-web-theme-default

#37 Create content body link tracking component
  packages/marko-web-p1-events/browser/.eslintrc.js
  packages/marko-web-p1-events/browser/index.js
  packages/marko-web-p1-events/browser/track-content-body-links.vue
  packages/marko-web-p1-events/components/marko.json
  packages/marko-web-p1-events/components/track-content-body-links.marko
Labels: package: marko-web-p1-events

#38 Create inquiry submission tracker
  packages/marko-web-p1-events/browser/index.js
  packages/marko-web-p1-events/browser/track-inquiry-submission.vue
  packages/marko-web-p1-events/components/marko.json
  packages/marko-web-p1-events/components/track-inquiry-submission.marko
Labels: package: marko-web-p1-events

#39 Windows development updates
  .graphqlconfig
  packages/export-framework/start-server.js
  packages/marko-newsletters/components/live-reload.marko
  packages/marko-newsletters/start-server.js
  packages/marko-web/components/document/components/live-reload.marko
  packages/marko-web/start-server.js
  packages/micro/src/service/json-server.js
  services/graphql-server/src/env.js
  services/graphql-server/src/index.js
  services/hooks/src/env.js
  services/hooks/src/index.js
  services/oembed/src/env.js
  services/oembed/src/index.js
  services/omail-link-processor/src/env.js
  services/omail-link-processor/src/index.js
  services/rss/src/env.js
  services/rss/src/index.js
  services/sitemaps/src/env.js
  services/sitemaps/src/index.js
Labels: bug

#30 Inject ads before headlines
  packages/marko-web-gam/browser/inject-ads.vue
Labels: package: marko-web-gam

#41 Use displayName for image alt tag if present
  packages/image/src/create-alt-for.js
Labels: package: image

#40 Windows file watching
  packages/cli-utils/task-callback.js
  packages/export-cli/src/gulp/lint.js
  packages/export-cli/src/gulp/serve.js
  packages/newsletter-cli/src/gulp/lint.js
  packages/newsletter-cli/src/gulp/serve.js
  packages/web-cli/src/gulp/lint-js.js
  packages/web-cli/src/gulp/lint-sass.js
  packages/web-cli/src/gulp/serve.js
Labels: bug, enhancement

#45 Restore eslint callbacks
  packages/export-cli/src/gulp/lint.js
  packages/newsletter-cli/src/gulp/lint.js
  packages/web-cli/src/gulp/lint-js.js
Labels: bug

#46 Track section context within Leaders Data Card events
  packages/leaders-program/src/components/containers/section.vue
  packages/marko-web-leaders/browser/p1events-tracker.vue
Labels: package: leaders-program, package: marko-web-leaders

#47 Update script sources to use P1 CDN URL
  packages/marko-web-native-x/components/init.marko
  packages/marko-web-p1-events/components/init.marko
Labels: package: marko-web-native-x, package: marko-web-p1-events

#48 Create deferred-script-loader package
  packages/marko-web-deferred-script-loader/.eslintignore
  packages/marko-web-deferred-script-loader/.eslintrc.js
  packages/marko-web-deferred-script-loader/README.md
  packages/marko-web-deferred-script-loader/components/call.marko
  packages/marko-web-deferred-script-loader/components/init.marko
  packages/marko-web-deferred-script-loader/components/marko.json
  packages/marko-web-deferred-script-loader/components/register.marko
  packages/marko-web-deferred-script-loader/index.js
  packages/marko-web-deferred-script-loader/marko.json
  packages/marko-web-deferred-script-loader/package.json
Labels: package: marko-web-deferred-script-loader

#49 Add support for (optionally) deferring GAM library
  packages/marko-web-gam/components/init.marko
  packages/marko-web-gam/components/marko.json
  packages/marko-web-gam/package.json
Labels: package: marko-web-gam

#50 Add support for deferring GTM library
  packages/marko-web-gtm/components/init.marko
  packages/marko-web-gtm/components/marko.json
  packages/marko-web-gtm/package.json
Labels: package: marko-web-gtm

#51 Update script version and pass script attributes
  packages/marko-web-deferred-script-loader/components/init.marko
  packages/marko-web-deferred-script-loader/components/marko.json
  packages/marko-web-deferred-script-loader/components/register.marko
  packages/marko-web-deferred-script-loader/package.json
Labels: package: marko-web-deferred-script-loader

#52 Optionally defer NativeX library load
  packages/marko-web-native-x/components/init.marko
  packages/marko-web-native-x/components/marko.json
  packages/marko-web-native-x/package.json
Labels: package: marko-web-native-x

#53 Add support for deferring P1 Events library
  packages/marko-web-p1-events/components/init.marko
  packages/marko-web-p1-events/components/marko.json
  packages/marko-web-p1-events/package.json
Labels: package: marko-web-p1-events

#54 Load deferred scripts lib separate from init
  packages/marko-web-deferred-script-loader/components/init.marko
  packages/marko-web-deferred-script-loader/components/load.marko
  packages/marko-web-deferred-script-loader/components/marko.json
Labels: package: marko-web-deferred-script-loader

#55 Add support for pretty HTML output via response middleware
  packages/marko-core/middleware/clean-marko-response.js
  packages/marko-core/package.json
  packages/marko-newsletters/express/template-router.js
  packages/marko-newsletters/package.json
  packages/marko-web/express/index.js
Labels: package: marko-core, package: marko-newsletters, package: marko-web

#56 Update script loader lib file to latest version
  packages/marko-web-deferred-script-loader/components/load.marko
Labels: package: marko-web-deferred-script-loader

#57 Optionally enable/disable query cache via query param
  packages/marko-web/express/apollo.js
Labels: package: marko-web

#58 Update script version; add `target-tag` and `request-frame` inputs
  packages/marko-web-deferred-script-loader/components/load.marko
  packages/marko-web-deferred-script-loader/components/marko.json
  packages/marko-web-deferred-script-loader/components/register.marko
Labels: package: marko-web-deferred-script-loader

#59 Pass `targetTag` and `requestFrame` to init components
  packages/marko-web-gam/components/init.marko
  packages/marko-web-gam/components/marko.json
  packages/marko-web-gtm/components/init.marko
  packages/marko-web-gtm/components/marko.json
  packages/marko-web-native-x/components/init.marko
  packages/marko-web-native-x/components/marko.json
  packages/marko-web-p1-events/components/init.marko
  packages/marko-web-p1-events/components/marko.json
Labels: package: marko-web-gam, package: marko-web-gtm, package: marko-web-native-x, package: marko-web-p1-events

#60 NativeX Story query support
  packages/marko-web-native-x/README.md
  packages/marko-web-native-x/apollo/create-client.js
  packages/marko-web-native-x/apollo/graphql/fragments/image.js
  packages/marko-web-native-x/apollo/graphql/fragments/story.js
  packages/marko-web-native-x/apollo/graphql/queries/story.js
  packages/marko-web-native-x/config.js
  packages/marko-web-native-x/middleware/with-story.js
  packages/marko-web-native-x/package.json
  packages/marko-web-native-x/utils/convert-story-to-content.js
Labels: enhancement, package: marko-web-native-x
