Repository parameter1/base-cms, pull requests merged in 2021-12, with the labels that each got.

#204 Ensure `Content.websiteSchedules` is always an array
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: bug, service: graphql-server

#203 Enable use of HTML strings for byline field
  packages/marko-web/components/element/content/byline.marko
Labels: package: marko-web

#201 Create/migrate contact us package
  packages/marko-web-contact-us/browser/.eslintrc.js
  packages/marko-web-contact-us/browser/form.vue
  packages/marko-web-contact-us/browser/index.js
  packages/marko-web-contact-us/components/contact-us-form.marko
  packages/marko-web-contact-us/components/marko.json
  packages/marko-web-contact-us/email.marko
  packages/marko-web-contact-us/env.js
  packages/marko-web-contact-us/index.js
  packages/marko-web-contact-us/marko.json
  packages/marko-web-contact-us/package.json
  packages/marko-web-contact-us/scss/index.scss
Labels: package: marko-web-contact-us

#199 Support multiple consent checkboxes
  packages/marko-web-inquiry/browser/default-form.vue
  packages/marko-web-inquiry/components/form.marko
  packages/marko-web-inquiry/components/marko.json
  packages/marko-web-inquiry/templates/notification.marko
Labels: package: marko-web-inquiry

#207 Allow for HTML tags in section name
  packages/marko-web/components/element/website-section/name.marko
Labels: package: marko-web

#208 Add mutation to set custom attributes on companies
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#206 Allow for objects to be passed into `contentTypes` to set labels
  packages/marko-web-search/config/index.js
Labels: package: marko-web-search

#210 Allow use of custom copyright in footer
  packages/marko-web-theme-default/components/site-footer/index.marko
Labels: package: marko-web-theme-default
