Repository parameter1/base-cms, pull requests merged in 2021-06, with the labels that each got.

#93 Use "now" for `unpublished` date criteria
  packages/utils/src/get-published-content-criteria.js
Labels: package: utils

#98 Add missing lock file dependencies and freeze on build/deploy
  services/google-data-api/Dockerfile
  services/graphql-server/Dockerfile
  services/hooks/Dockerfile
  services/oembed/Dockerfile
  services/omail-link-processor/Dockerfile
  services/rss/Dockerfile
  services/sitemaps/Dockerfile
  yarn.lock
Labels: dependencies

#99 Add `ContentVideo.embedSrc` field
  services/graphql-server/src/graphql/definitions/platform/content/types/video.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#101 Add Google Structured Data markup to videos, articles, news
  packages/marko-web/components/page/metadata/content.marko
  packages/marko-web/components/page/metadata/google-structured-data/content.js
Labels: package: marko-web

#100 Add support for Google News Publication name
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/site-context/load.js
  services/sitemaps/package.json
  services/sitemaps/src/routes/google-news.js
  services/sitemaps/src/utils/create-image.js
Labels: service: graphql-server, service: sitemaps

#103 Use `mutations.Website.redirectTo` in `redirectTo` resolver
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#104 Set default fallback value for lang if not set
  packages/marko-web-inquiry/components/form.marko
Labels: bug, package: marko-web-inquiry

#106 Add `formatResponse` hook to `withContent` middleware
  packages/marko-web/middleware/with-content.js
Labels: package: marko-web

#107 Add `Content.taxonomyIds` field
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#109 Add ability to query for images that are approvedForWeb & approvedForPrint
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/ref-query-builders/content-asset-images.js
  services/graphql-server/src/graphql/ref-query-builders/index.js
Labels: service: graphql-server

#108 Display image in native or cropped aspect ratio
  packages/marko-web-photoswipe/components/images.marko
Labels: package: marko-web-photoswipe

#110 Add server-side compiling and rendering of Vue components
  packages/leaders-program/package.json
  packages/marko-web-theme-default/browser/ssr.js
  packages/marko-web-theme-default/components/marko.json
  packages/marko-web-theme-default/components/menu-toggle-button.marko
  packages/marko-web/components/browser-component.marko
  packages/marko-web/components/marko.json
  packages/marko-web/express/index.js
  packages/marko-web/package.json
  packages/marko-web/utils/render-ssr-component.js
  packages/web-cli/package.json
  packages/web-cli/src/gulp/build.js
  packages/web-cli/src/gulp/ssr.js
  yarn.lock
Labels: package: marko-web, package: marko-web-theme-default, package: web-cli

#111 Provide faux EventBus when rendering server-side
  packages/marko-web/utils/render-ssr-component.js
Labels: package: marko-web
