Repository parameter1/base-cms, pull requests merged in 2021-01, with the labels that each got.

#3 Ensure canonical URL uses remote site context for path
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#4 Set campaign advertiser name as company name
  packages/marko-web-native-x/utils/convert-ad-to-content.js
Labels: 📦 package: marko-web-native-x

#5 Support querying allPublishedContent by label
  packages/db/src/utils/filter-dsn.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server, 📦 package: db

#6 Add noindex meta tag to 404 pages
  packages/marko-web/components/document/components/error.marko
Labels: package: marko-web

#12 Pass Express request object to redirect handler
  packages/marko-web/express/get-redirect.js
Labels: package: marko-web

#13 Pass Express app object to redirect handler
  packages/marko-web/express/error-handlers.js
  packages/marko-web/express/get-redirect.js
Labels: package: marko-web

#14 Return `shortName` with website context
  packages/web-common/graphql/website-context-fragment.js
Labels: package: web-common

#15 Include playlistId in company youtube url
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: bug, ⚙️ service: graphql-server
