Repository parameter1/base-cms, pull requests merged in 2021-05, with the labels that each got.

#77 Allow finding lowercased from addresses
  services/graphql-server/src/graphql/resolvers/website/redirect.js
Labels: enhancement, service: graphql-server

#80 Hydrate `<default-theme-menu-toggle-button>` Vue component
  packages/marko-web-theme-default/components/marko.json
  packages/marko-web-theme-default/components/menu-toggle-button.marko
  packages/marko-web-theme-default/components/site-header/index.marko
Labels: package: marko-web-theme-default

#83 Add i18n support to contact details component
  packages/marko-web-theme-default/components/content/contact-details/index.marko
  packages/marko-web-theme-default/components/content/contact-details/marko.json
  packages/marko-web-theme-default/i18n.js
  packages/marko-web-theme-default/translations.js
Labels: package: marko-web-theme-default

#87 Add docs to `AllPublishedContentQueryInput`
  services/graphql-server/src/graphql/definitions/platform/content/index.js
Labels: service: graphql-server

#88 Fix Olytics init to mimic Omeda’s code
  packages/marko-web-omeda/components/olytics/init.marko
Labels: bug, package: marko-web-omeda

#89 Fix hyphenation lint error
  packages/leaders-program/src/components/containers/section-wrapper.vue
  packages/leaders-program/src/components/containers/section.vue
  packages/leaders-program/src/components/leaders.vue
Labels: package: leaders-program

#90 Add test command to leaders program
  packages/leaders-program/package.json
Labels: package: leaders-program

#91 Add pagination to html sitemap
  packages/marko-web-html-sitemap/components/marko.json
  packages/marko-web-html-sitemap/components/pagination-controls.marko
  packages/marko-web-html-sitemap/components/query-total-count.marko
  packages/marko-web-html-sitemap/middleware/paginated.js
  packages/marko-web-html-sitemap/package.json
  packages/marko-web-html-sitemap/templates/day.marko
Labels: package: marko-web-html-sitemap
