Repository parameter1/base-cms, pull requests merged in 2021-09, with the labels that each got.

#156 Cache GraphQL responses by default
  services/graphql-server/src/env.js
  services/graphql-server/src/graphql/plugins/redis-cache.js
Labels: service: graphql-server

#157 Add ability to pass sortField & sortOrder into search query.
  packages/marko-web-search/components/query.marko
  packages/marko-web-search/loaders/search.js
Labels: package: marko-web-search

#158 Allow redirect prop to be passed into login form
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/marko.json
Labels: package: marko-web-identity-x

#159 All company content label support
  packages/web-common/src/block-loaders/all-company-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: package: web-common
