Repository parameter1/base-cms, pull requests merged in 2021-08, with the labels that each got.

#135 Create `SidebarEnabledInterface` and corresponding web component
  packages/marko-web/components/element/content/marko.json
  packages/marko-web/components/element/content/sidebar-stubs.marko
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/sidebar-enabled.js
  services/graphql-server/src/graphql/definitions/platform/content/types/article.js
  services/graphql-server/src/graphql/definitions/platform/content/types/news.js
  services/graphql-server/src/graphql/definitions/platform/content/types/product.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: package: marko-web, service: graphql-server

#136 Remove x-robots:no-index header from all sitemaps
  services/sitemaps/src/app.js
Labels: service: sitemaps

#137 Update types to include `SidebarEnabledInterface`
  packages/graphql-fragment-types/build.js
  packages/graphql-fragment-types/types.json
Labels: package: graphql-fragment-types

#139 Support siteId within website scheduled content
  packages/web-common/src/block-loaders/website-scheduled-content.js
Labels: package: web-common

#141 Disable browser cache on temporary redirects
  packages/marko-web/express/error-handlers.js
Labels: package: marko-web

#140 Ensure article sidebars account for embedded images
  packages/marko-web/components/element/content/marko.json
  packages/marko-web/components/element/content/sidebars.marko
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server, package: marko-web

#138 Create form identity integration (FII) package
  packages/marko-web-p1-fii/.eslintignore
  packages/marko-web-p1-fii/.eslintrc.js
  packages/marko-web-p1-fii/browser/.eslintrc.js
  packages/marko-web-p1-fii/browser/index.js
  packages/marko-web-p1-fii/browser/omeda-wufoo-form.vue
  packages/marko-web-p1-fii/components/marko.json
  packages/marko-web-p1-fii/components/omeda-wufoo-form.marko
  packages/marko-web-p1-fii/marko.json
  packages/marko-web-p1-fii/package.json
  packages/marko-web-p1-fii/proxy.js
  packages/marko-web-p1-fii/utils/get-omeda-id.js
Labels: package: marko-web-p1-fii

#143 Fix `sidebars` resolver args
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#144 Fix package name and set default proxy URL
  packages/marko-web-p1-fii/package.json
  packages/marko-web-p1-fii/proxy.js
Labels: package: marko-web-p1-fii

#147 Add default YouTube thumbnail URL and validate IDs
  services/google-data-api/src/actions/youtube/playlist-items.js
  services/graphql-server/src/graphql/definitions/google-data-api/youtube.js
  services/graphql-server/src/graphql/resolvers/google-data-api/youtube.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/graphql/utils/youtube.js
Labels: service: graphql-server, service: google-data-api

#149 Do not destructure p1events from window object
  packages/marko-web-p1-events/browser/track-content-body-links.vue
  packages/marko-web-p1-events/browser/track-inquiry-submission.vue
Labels: bug, package: marko-web-p1-events

#150 Pass `buttonLabels` prop from Marko component to Vue
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/marko.json
Labels: package: marko-web-identity-x

#151 Allow fetch to be overwritten by linkConfig
  packages/apollo-ssr/src/index.js
Labels: bug, package: apollo-ssr
