Repository parameter1/base-cms, pull requests merged in 2021-02, with the labels that each got.

#16 Disable section bubbling, pass content types
  packages/leaders-program/src/graphql/queries/content-for-section.js
Labels: package: leaders-program

#17 Update leaders query
  packages/leaders-program/src/graphql/queries/content-for-section.js
Labels: bug, package: leaders-program

#19 Optionally require fields before sending login link / logging-in
  packages/marko-web-identity-x/browser/comments/stream.vue
  packages/marko-web-identity-x/browser/login-fields.vue
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/comment-stream.marko
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/routes/index.js
  packages/marko-web-identity-x/routes/login-fields.js
  packages/marko-web-identity-x/routes/login.js
Labels: package: marko-web-identity-x

#22 Add withSite flag to AllPublishedContent query
  packages/web-common/src/block-loaders/all-published-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: package: web-common, service: graphql-server

#21 Restrict related content by primarySite
  packages/utils/src/get-published-content-criteria.js
  packages/web-common/src/block-loaders/related-published-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: package: web-common, service: graphql-server

#23 Add magazineActiveIssue support for mailing before, after & between support.
  packages/web-common/src/block-loaders/magazine-active-issues.js
  services/graphql-server/src/graphql/definitions/magazine/issue.js
  services/graphql-server/src/graphql/query-builders/magazine-active-issues.js
Labels: package: web-common, service: graphql-server

#25 Add withSite parameter to related content field
  packages/leaders-program/src/graphql/queries/content-for-section.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#27 Update youtube playlist url format
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: bug, service: graphql-server

#29 Fix deprecated Octokit require statement
  packages/github-release-notes/src/octokit.js
Labels: package: github-release-notes

#28 Emit event when Leaders category companies are loaded
  packages/leaders-program/src/components/containers/section.vue
  packages/leaders-program/src/components/list/index.vue
Labels: package: leaders-program
