Repository parameter1/base-cms, pull requests merged in 2021-04, with the labels that each got.

#62 NativeX story GTM/event tracking
  packages/marko-web-native-x/README.md
  packages/marko-web-native-x/browser/.eslintrc.js
  packages/marko-web-native-x/browser/index.js
  packages/marko-web-native-x/browser/track-end-of-content.vue
  packages/marko-web-native-x/browser/track-outbound-links.vue
  packages/marko-web-native-x/browser/track-social-share.vue
  packages/marko-web-native-x/components/gtm-init.marko
  packages/marko-web-native-x/components/marko.json
  packages/marko-web-native-x/components/story/track-end-of-content.marko
  packages/marko-web-native-x/components/story/track-init.marko
  packages/marko-web-native-x/components/story/track-outbound-links.marko
  packages/marko-web-native-x/components/story/track-page-view.marko
  packages/marko-web-native-x/components/story/track-social-share.marko
  packages/marko-web-native-x/package.json
  packages/marko-web-native-x/utils/gtm-events.js
Labels: package: marko-web-native-x

#63 Create hook support and add `onAuthenticationSuccess`
  packages/marko-web-identity-x/config.js
  packages/marko-web-identity-x/routes/authenticate.js
  packages/marko-web-identity-x/utils/call-hooks-for.js
Labels: package: marko-web-identity-x

#44 Remove empty tags before placing ads
  packages/marko-web-gam/browser/inject-ads.vue
Labels: package: marko-web-gam

#64 Add support for querying and adding external user IDs
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/api/mutations/add-external-user-id.js
  packages/marko-web-identity-x/config.js
  packages/marko-web-identity-x/package.json
  packages/marko-web-identity-x/routes/authenticate.js
  packages/marko-web-identity-x/service.js
  packages/marko-web-identity-x/utils/create-client.js
Labels: package: marko-web-identity-x

#65 Create Omeda+IdentityX package w/rapid identify
  packages/marko-web-omeda-identity-x/.eslintignore
  packages/marko-web-omeda-identity-x/.eslintrc.js
  packages/marko-web-omeda-identity-x/README.md
  packages/marko-web-omeda-identity-x/package.json
  packages/marko-web-omeda-identity-x/rapid-identify.js
Labels: package: marko-web-omeda-identity-x

#66 Create Omeda+IdentityX Rapid Identification Router
  packages/marko-web-omeda-identity-x/package.json
  packages/marko-web-omeda-identity-x/rapid-identify.js
  packages/marko-web-omeda-identity-x/routes/rapid-identify.js
  packages/marko-web-omeda-identity-x/utils/find-omeda-encrypted-id.js
Labels: package: marko-web-omeda-identity-x

#67 Add `onScriptBuild` and `onScriptLoad` hooks
  packages/marko-web-deferred-script-loader/components/load.marko
  packages/marko-web-deferred-script-loader/components/marko.json
  packages/marko-web-deferred-script-loader/components/register.marko
Labels: package: marko-web-deferred-script-loader

#68 Create Marko Web Omeda package w/Olytics Init
  packages/marko-web-omeda/.eslintignore
  packages/marko-web-omeda/.eslintrc.js
  packages/marko-web-omeda/README.md
  packages/marko-web-omeda/components/marko.json
  packages/marko-web-omeda/components/olytics/init.marko
  packages/marko-web-omeda/components/olytics/marko.json
  packages/marko-web-omeda/index.js
  packages/marko-web-omeda/marko.json
  packages/marko-web-omeda/package.json
Labels: package: marko-web-omeda

#69 Send IdentityX+Omeda IDs to `Olytics.confirm`
  packages/marko-web-omeda-identity-x/browser/.eslintrc.js
  packages/marko-web-omeda-identity-x/browser/rapid-identify.vue
Labels: package: marko-web-omeda-identity-x

#70 Populate Olytics init component
  packages/marko-web-omeda/components/olytics/init.marko
Labels: package: marko-web-omeda

#71 Remove anonymous cross origin attribute
  packages/marko-web-native-x/components/init.marko
Labels: package: marko-web-native-x

#72 Add `onUserProfileUpdate` hook
  packages/marko-web-identity-x/config.js
  packages/marko-web-identity-x/routes/profile.js
Labels: package: marko-web-identity-x

#74 Overhaul Vue component loading and JS build
  .eslintignore
  .travis.yml
  Dockerfile
  docker-compose.yml
  packages/marko-web-gam/browser/index.js
  packages/marko-web-gtm/browser/.eslintrc.js
  packages/marko-web-gtm/browser/index.js
  packages/marko-web/.eslintignore
  packages/marko-web/browser/components/index.js
  packages/marko-web/browser/index.js
  packages/marko-web/browser/lazysizes.js
  packages/marko-web/components/browser-component.marko
  packages/marko-web/components/document/components/assets.marko
  packages/marko-web/components/document/index.marko
  packages/marko-web/express/index.js
  packages/marko-web/package.json
  packages/marko-web/public/lazysizes/v5.3.2.js
  packages/web-cli/package.json
  packages/web-cli/src/gulp/js.js
  services/google-data-api/Dockerfile
  services/graphql-server/Dockerfile
  services/hooks/Dockerfile
  services/oembed/Dockerfile
  services/omail-link-processor/Dockerfile
  services/rss/Dockerfile
  services/sitemaps/Dockerfile
  yarn.lock
Labels: package: marko-web, package: web-cli

#76 Add support for pseudo-SSR of Vue components
  packages/marko-web/browser/index.js
  packages/marko-web/components/browser-component.marko
  packages/marko-web/components/marko.json
Labels: package: marko-web

#75 Export `getReferringPage` as ESModule instead of CommonJS
  packages/marko-web-identity-x/browser/utils/get-referring-page.js
Labels: package: marko-web-identity-x
