Repository parameter1/base-cms, pull requests merged in 2022-07, with the labels that each got.

#363 Include the right peer dep for `@parameter1/base-cms-marko-web-theme-monorail`
  packages/marko-web-theme-monorail-magazine/package.json
Labels: dependencies, package: marko-web-theme-monorail, package: marko-web-theme-monorail-magazine

#366 Add native-x promo card block
  packages/marko-web-native-x/utils/convert-ad-to-content.js
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/native-x-promo-card.marko
  packages/marko-web-theme-monorail/components/nodes/marko.json
  packages/marko-web-theme-monorail/components/nodes/standard-promo.marko
Labels: package: marko-web-native-x, package: marko-web-theme-monorail

#369 Fix native-x node tracking for new components
  packages/marko-web-native-x/utils/convert-ad-to-node.js
  packages/marko-web-theme-monorail/components/blocks/native-x-card-deck.marko
  packages/marko-web-theme-monorail/components/blocks/native-x-promo-card.marko
  packages/marko-web-theme-monorail/components/nodes/standard-promo.marko
  packages/marko-web-theme-monorail/scss/components/blocks/_content-card-deck.scss
  packages/marko-web-theme-monorail/scss/components/blocks/_latest-content-list.scss
Labels: package: marko-web-native-x, package: marko-web-theme-monorail

#368 Account for user and site props within monorail's site-navbar, site-header & site-footer components
  packages/marko-web-theme-monorail/components/site-footer.marko
  packages/marko-web-theme-monorail/components/site-header.marko
Labels: package: marko-web-theme-monorail

#370 Set default value & spread props only when set
  packages/marko-web-theme-monorail/components/site-footer.marko
  packages/marko-web-theme-monorail/components/site-header.marko
Labels: bug, package: marko-web-theme-monorail

#371 Change position of search page sponsor logo
  packages/marko-web-theme-monorail/scss/components/_search-page.scss
  packages/marko-web-theme-monorail/scss/components/_site-navbar.scss
  packages/marko-web-theme-monorail/templates/search.marko
Labels: package: marko-web-theme-monorail

#372 Return the function vs isFn check in i18n middleware
  packages/marko-web-theme-monorail/middleware/i18n.js
Labels: bug, package: marko-web-theme-monorail

#374 Register and set ssr on idx newsletter pushdown component
  packages/marko-web-theme-monorail/browser/ssr.js
  packages/marko-web-theme-monorail/components/identity-x/newsletter-pushdown.marko
Labels: package: marko-web-theme-monorail

#376 Update native-x card deck styling
  packages/marko-web-theme-monorail/components/blocks/native-x-card-deck.marko
Labels: package: marko-web-theme-monorail

#377 Add nativeX story template & related story css
  packages/marko-web-theme-monorail/routes/native-x.js
  packages/marko-web-theme-monorail/scss/components/blocks/_related-native-x-stories.scss
  packages/marko-web-theme-monorail/scss/core.scss
  packages/marko-web-theme-monorail/templates/content/components/presented-by.marko
  packages/marko-web-theme-monorail/templates/content/native-x-story.marko
Labels: package: marko-web-theme-monorail

#380 Allow ads of different templates to be injected next to each other
  packages/marko-web-gam/browser/inject-ads.vue
  packages/marko-web-gam/components/define-display-ad.marko
  packages/marko-web-gam/components/display-ad.marko
  packages/marko-web-theme-monorail/components/gam/components/define-display-ad.marko
Labels: package: marko-web-gam, package: marko-web-theme-monorail

#379 Allow for pass through of ```loginEmailLabel``` for newsletter signups
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/inline.vue
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/pushdown.vue
  packages/marko-web-theme-monorail/browser/translations-vue.js
  packages/marko-web-theme-monorail/components/identity-x/newsletter-footer.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-inline.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-pushdown.marko
Labels: package: marko-web-identity-x, package: marko-web-theme-monorail

#382 Add disabled check to newsletter-menu pushdown inclusion.
  packages/marko-web-theme-monorail/components/site-header.marko
Labels: bug, package: marko-web-theme-monorail

#384 Allow for reordering of publication buttons, Monorail Magazine.
  packages/marko-web-theme-monorail-magazine/components/publication-buttons.marko
Labels: package: marko-web-theme-monorail-magazine

#378 Omeda+IdentityX config validation
  docker-compose.yml
  packages/marko-web-omeda-identity-x/README.md
  packages/marko-web-omeda-identity-x/add-integration-hooks.js
  packages/marko-web-omeda-identity-x/index.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-authentication-success.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-logout.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-user-profile-update.js
  packages/marko-web-omeda-identity-x/middleware/rapid-identify.js
  packages/marko-web-omeda-identity-x/package.json
  services/example-website/config/omeda-identity-x.js
  services/example-website/config/omeda.js
  services/example-website/config/site.js
  services/example-website/index.js
Labels: package: marko-web-omeda-identity-x, service: example-website

#383 Adjust comment stream css to account for comment count
  packages/marko-web-theme-monorail/scss/components/_comments.scss
Labels: bug, package: marko-web-theme-monorail

#357 Adjust when `strip-olytics-params.js` middleware should redirect & clean url.
  packages/marko-web-omeda-identity-x/middleware/strip-olytics-param.js
Labels: package: marko-web-omeda-identity-x
