Repository parameter1/base-cms, pull requests merged in 2022-04, with the labels that each got.

#268 Import getAsObject in sidebar-stubs component.
  packages/marko-web/components/element/content/sidebar-stubs.marko
Labels: bug, package: marko-web

#269 Pass through media parsed sidebar body.
  packages/marko-web/components/element/content/sidebar-stubs.marko
Labels: bug, package: marko-web

#271 Fix error messaging when image resolution fails
  services/graphql-server/src/graphql/utils/get-image-dimensions.js
Labels: service: graphql-server

#273 Do not fetch image dimensions when file is missing
  services/graphql-server/src/graphql/utils/get-image-dimensions.js
Labels: service: graphql-server

#278 Support for passing promo codes as event data
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/components/form-register.marko
  packages/marko-web-identity-x/components/marko.json
  packages/marko-web-identity-x/routes/login.js
  packages/marko-web-identity-x/routes/profile.js
  packages/marko-web-omeda-identity-x/add-integration-hooks.js
  packages/marko-web-omeda-identity-x/index.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-user-profile-update.js
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x

#279 IdentityX form classing & display logic adjustments
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/form/address-block.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-authenticate.marko
Labels: package: marko-web-identity-x

#282 Add ability to configure defaultCountryCode
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-authenticate.marko
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/config.js
Labels: package: marko-web-identity-x

#283 Ensure countryCode is a visible field before applying the default value when set.
  packages/marko-web-identity-x/browser/profile.vue
Labels: package: marko-web-identity-x

#286 Use dasherized input props
  packages/marko-web-identity-x/components/marko.json
Labels: bug, package: marko-web-identity-x

#290 Add `Content.estimatedReadingTime` field
  services/graphql-server/package.json
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  yarn.lock
Labels: service: graphql-server

#289 Update IdentityX event emission
  packages/marko-web-gtm/browser/index.js
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/comments/create.vue
  packages/marko-web-identity-x/browser/comments/post.vue
  packages/marko-web-identity-x/browser/comments/stream.vue
  packages/marko-web-identity-x/browser/index.js
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/logout.vue
  packages/marko-web-identity-x/browser/mixins/global-event-emitter.js
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/browser/service.js
  packages/marko-web-identity-x/components/comment-stream.marko
  packages/marko-web-identity-x/components/form-authenticate.marko
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/form-logout.marko
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/components/marko.json
  packages/marko-web-identity-x/routes/authenticate.js
  packages/marko-web-identity-x/routes/login.js
  packages/marko-web-identity-x/routes/logout.js
  packages/marko-web-identity-x/utils/context-cookie.js
  services/example-website/browser/index.js
  services/example-website/server/templates/index.marko
  services/example-website/server/templates/user/authenticate.marko
  services/example-website/server/templates/user/login.marko
  services/example-website/server/templates/user/logout.marko
  services/example-website/server/templates/user/profile.marko
Labels: package: marko-web-identity-x, package: marko-web-gtm

#291 Reload IdX context on authenticate, update appId
  docker-compose.yml
  packages/marko-web-identity-x/browser/index.js
  packages/marko-web-identity-x/browser/service.js
Labels: package: marko-web-identity-x
