Repository parameter1/base-cms, pull requests merged in 2022-08, with the labels that each got.

#386 Allow section renaming in list blocks, Monorail
  packages/marko-web-theme-monorail/components/blocks/section-list-deck.marko
  packages/marko-web-theme-monorail/components/blocks/section-list.marko
Labels: package: marko-web-theme-monorail

#393 Expand node input support within latest-content-list-block
  packages/marko-web-theme-monorail/components/blocks/latest-content-list.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
Labels: package: marko-web-theme-monorail

#390 Update monorail theme css
  packages/marko-web-theme-monorail/scss/_variables.scss
Labels: package: marko-web-theme-monorail

#388 Switch out newsletter toggle icon & pushdown title/description base on presence of user
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/toggle-button.vue
  packages/marko-web-theme-monorail/components/identity-x/newsletter-pushdown.marko
  packages/marko-web-theme-monorail/components/site-header.marko
  packages/marko-web-theme-monorail/scss/components/_site-newsletter-menu.scss
Labels: package: marko-web-theme-monorail

#394 Add header param to section-feed-block
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/section-feed.marko
Labels: package: marko-web-theme-monorail

#395 Fix idx signup form btn-secondary color in footer.
  packages/marko-web-theme-monorail/scss/components/_site-footer.scss
Labels: package: marko-web-theme-monorail

#391 Add cancelUrl & changeAddress graph definitions & marko-web elements for publications
  packages/marko-web/components/element/magazine-publication/cancel-url.marko
  packages/marko-web/components/element/magazine-publication/change-address-url.marko
  packages/marko-web/components/element/magazine-publication/marko.json
  services/graphql-server/src/graphql/definitions/magazine/publication.js
Labels: service: graphql-server, package: marko-web

#387 Update attribute handling in `updateEmailNewsletterProvider` mutation
  services/graphql-server/src/graphql/definitions/email/newsletter.js
  services/graphql-server/src/graphql/resolvers/email/newsletter.js
Labels: service: graphql-server

#397 Escape null
  services/graphql-server/src/graphql/definitions/email/newsletter.js
Labels: service: graphql-server

#396 Add node-list parameter to section-feed-block
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/section-feed.marko
Labels: package: marko-web-theme-monorail

#398 Add color to footer newsletter label
  packages/marko-web-theme-monorail/scss/components/blocks/_newsletter-signup-banner.scss
Labels: package: marko-web-theme-monorail

#401 Add props to latest-content-list and section-list blocks
  packages/marko-web-theme-monorail/components/blocks/latest-content-list.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/section-list.marko
Labels: package: marko-web-theme-monorail

#403 Adjust sticky-top to account for navbar height
  packages/marko-web-theme-monorail/components/blocks/latest-content-list.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/scss/core.scss
Labels: package: marko-web-theme-monorail

#385 Omeda+IdentityX Behavior support
  packages/marko-web-identity-x/browser/comments/stream.vue
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/mixins/global-event-emitter.js
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/marko.json
  packages/marko-web-identity-x/config.js
  packages/marko-web-identity-x/hooks.js
  packages/marko-web-omeda-identity-x/README.md
  packages/marko-web-omeda-identity-x/add-integration-hooks.js
  packages/marko-web-omeda-identity-x/index.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-authentication-success.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-user-profile-update.js
  packages/marko-web-omeda-identity-x/middleware/rapid-identify.js
  packages/marko-web-omeda-identity-x/rapid-identify.js
  packages/marko-web-omeda-identity-x/utils/append-data.js
  packages/marko-web-omeda-identity-x/utils/build-behavior.js
  packages/marko-web-omeda-identity-x/validation/props.js
  packages/marko-web-omeda-identity-x/validation/schemas/append-behavior.js
  packages/marko-web-omeda-identity-x/validation/schemas/append-demographic.js
  packages/marko-web-omeda-identity-x/validation/schemas/append-promo-code.js
  packages/marko-web-omeda-identity-x/validation/schemas/behavior.js
  packages/marko-web-omeda-identity-x/validation/schemas/hook-behavior.js
  packages/marko-web-omeda-identity-x/validation/schemas/hook-demographic.js
  packages/marko-web-omeda-identity-x/validation/schemas/hook-promo-code.js
  packages/marko-web-omeda-identity-x/validation/schemas/index.js
  packages/marko-web-omeda/rapid-identify.js
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/inline.vue
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/pushdown.vue
  packages/marko-web-theme-monorail/components/identity-x/content-page-gate.marko
  packages/marko-web-theme-monorail/components/identity-x/marko.json
  packages/marko-web-theme-monorail/components/identity-x/newsletter-footer.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-inline.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-pushdown.marko
  packages/marko-web-theme-monorail/middleware/content-gating.js
  packages/marko-web-theme-monorail/routes/print.js
  packages/marko-web-theme-monorail/scss/components/_site-footer.scss
  packages/marko-web-theme-monorail/scss/components/_site-newsletter-menu.scss
  packages/marko-web-theme-monorail/templates/content/print.marko
  services/example-website/config/omeda-identity-x.js
  services/example-website/config/site.js
  services/example-website/index.js
  services/example-website/server/routes/index.js
  services/example-website/server/templates/components/content-body.marko
  services/example-website/server/templates/content.marko
  services/example-website/server/templates/index.marko
  services/example-website/server/templates/section.marko
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x, package: marko-web-omeda, service: example-website, package: marko-web-theme-monorail

#404 Add reveal ad to monorail
  packages/marko-web-theme-monorail/browser/index.js
  packages/marko-web-theme-monorail/browser/reveal-ad-handler.vue
  packages/marko-web-theme-monorail/components/marko.json
  packages/marko-web-theme-monorail/components/reveal-ad-handler.marko
  packages/marko-web-theme-monorail/package.json
  packages/marko-web-theme-monorail/scss/components/_reveal-ad.scss
  packages/marko-web-theme-monorail/scss/core.scss
Labels: dependencies, package: marko-web-theme-monorail

#405 Add fixed bottom leaderboard components to monorail
  packages/marko-web-theme-monorail/components/ads/fixed-ad-bottom.marko
  packages/marko-web-theme-monorail/components/ads/marko.json
  packages/marko-web-theme-monorail/components/ads/reveal-ad-handler.marko
  packages/marko-web-theme-monorail/components/marko.json
Labels: package: marko-web-theme-monorail

#406 Remove inclusion of reveal ad css by default from monorail package
  packages/marko-web-theme-monorail/scss/core.scss
Labels: bug, package: marko-web-theme-monorail

#407 Add nativeX support to section-feed block calls
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/section-feed.marko
Labels: package: marko-web-theme-monorail

#410 Add missing getAsObject import
  packages/marko-web-theme-monorail/components/blocks/section-feed.marko
Labels: package: marko-web-theme-monorail

#411 Add isLogo support to section-feed-content block
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
Labels: package: marko-web-theme-monorail

#415 Allow flush-x/y prop to be passed through block to flow
  packages/marko-web-theme-monorail/components/blocks/latest-content-list.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
Labels: package: marko-web-theme-monorail

#414 Add more address info to standard directory node in monorail theme
  packages/marko-web-theme-monorail/components/nodes/directory-section-feed-content.marko
Labels: package: marko-web-theme-monorail

#416 Update P1 events version and add Omeda identity script generator
  packages/marko-web-p1-events/components/init.marko
  packages/marko-web-p1-events/utils/create-omeda-identity-builder.js
  services/example-website/config/site.js
  services/example-website/package.json
  services/example-website/server/components/document.marko
  services/example-website/server/templates/section.marko
Labels: package: marko-web-p1-events

#418 Remove server-only package inclusion in Vue component
  packages/marko-web-native-x/browser/track-social-share.vue
Labels: package: marko-web-native-x
