Repository parameter1/base-cms, pull requests merged in 2022-12, with the labels that each got.

#499 Adjust default desktop inline ad injection counts
  packages/marko-web-theme-monorail/components/content/body-with-injection.marko
Labels: package: marko-web-theme-monorail

#500 Improve the magazine issue landing page layout
  packages/marko-web-theme-monorail-magazine/components/marko.json
  packages/marko-web-theme-monorail-magazine/components/publication-links.marko
  packages/marko-web-theme-monorail-magazine/graphql/fragments/latest-issue.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-content-feed-block.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-issue-page.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-latest-issue.js
  packages/marko-web-theme-monorail-magazine/scss/index.scss
  packages/marko-web-theme-monorail-magazine/templates/issue.marko
Labels: package: marko-web-theme-monorail-magazine

#502 correctly pass skip and limit to magazine query
  packages/marko-web-theme-monorail-magazine/templates/issue.marko
Labels: bug, package: marko-web-theme-monorail-magazine

#504 Update setWithSection logic
  packages/marko-web-theme-monorail/components/flows/content/list.marko
Labels: package: marko-web-theme-monorail

#505 Update setWithSection logic
  packages/marko-web-theme-monorail/components/blocks/section-feed.marko
Labels: package: marko-web-theme-monorail

#498 Creation and Utilization of `base-cms-dayjs` package
  packages/dayjs/index.js
  packages/dayjs/package.json
  packages/dayjs/utils/index.js
  packages/dayjs/utils/set-locale.js
  packages/marko-core/components/elements/date.marko
  packages/marko-core/package.json
  packages/marko-web-html-sitemap/components/breadcrumb.marko
  packages/marko-web-html-sitemap/package.json
  packages/marko-web-html-sitemap/routes/index.js
  packages/marko-web-html-sitemap/templates/date-list.marko
  packages/marko-web-html-sitemap/templates/day.marko
  packages/marko-web/express/website-context.js
  packages/marko-web/package.json
Labels: enhancement, dependencies, package: marko-web, package: marko-core, package: marko-web-html-sitemap, javascript

#508 Replace moment with new base-cms-dayjs package in marko-web & theme-monorail
  packages/marko-web-theme-monorail/components/nodes/content-published.marko
  packages/marko-web-theme-monorail/package.json
  packages/marko-web/package.json
Labels: bug, package: marko-web, package: marko-web-theme-monorail

#510 Flip year & month in date generation in the date-list template
  packages/marko-web-html-sitemap/templates/date-list.marko
Labels: package: marko-web-html-sitemap

#516 Add environment variables to new relic config
  services/graphql-server/newrelic.js
Labels: service: graphql-server

#519 Preload sitemap images to prevent `o(n)` query issue
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#514 Add ‘fileSrc’ to theme-monorail-magazine graphql/fragments
  packages/marko-web-theme-monorail-magazine/graphql/fragments/latest-issue.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-issue-page.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-latest-issue.js
Labels: bug, package: marko-web-theme-monorail-magazine

#521 Add buttonClass parameter
  packages/marko-web-theme-monorail/components/blocks/section-card-list.marko
Labels: package: marko-web-theme-monorail

#523 Create `newrelic` package and add `stopSampler` util
  docker-compose.yml
  packages/newrelic/README.md
  packages/newrelic/package.json
  packages/newrelic/src/index.js
  packages/newrelic/src/stop-sampler.js
  services/graphql-server/package.json
  services/graphql-server/src/newrelic.js
Labels: service: graphql-server

#524 Add megaphon by spotify social icon
  packages/marko-web-icons/browser/megaphone-spotify.vue
  packages/marko-web-icons/svg/megaphone-spotify.svg
  packages/marko-web-leaders/browser/company-social-link.vue
Labels: package: marko-web-leaders

#525 Add new relic max sampling env var to remaining services
  services/google-data-api/newrelic.js
  services/hooks/newrelic.js
  services/oembed/newrelic.js
  services/omail-link-processor/newrelic.js
  services/rss/newrelic.js
  services/sitemaps/newrelic.js
Labels: service: hooks, service: oembed, service: sitemaps, service: rss, service: omail-link-processor, service: google-data-api
