Repository parameter1/base-cms, pull requests merged in 2022-11, with the labels that each got.

#467 Add new sideloadDataFn() to withContent & pageNode calls
  packages/marko-web/middleware/page-node/index.js
  packages/marko-web/middleware/with-content.js
Labels: package: marko-web

#469 Add linkSelector prop to trackContentBodyLinks in base-cms-marko-web-p1-events package.
  packages/marko-web-p1-events/browser/track-content-body-links.vue
  packages/marko-web-p1-events/components/marko.json
  packages/marko-web-p1-events/components/track-content-body-links.marko
Labels: package: marko-web-p1-events

#473 Include login source in IdX authenticate hook args
  packages/marko-web-identity-x/routes/authenticate.js
Labels: package: marko-web-identity-x

#474 Add method to set token and re-init context client
  packages/marko-web-identity-x/service.js
Labels: package: marko-web-identity-x

#475 Add change email config and placeholder template
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-authenticate.marko
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/config.js
  services/example-website/config/identity-x.js
  services/example-website/server/templates/user/change-email.marko
  services/example-website/server/templates/user/index.js
Labels: package: marko-web-identity-x, service: example-website

#471 Bail if crop dimensions aren’t available for "cropped" image
  packages/image/src/crop-rectangle.js
Labels: bug, package: image

#477 Update theme-default functions reference
  packages/marko-web-theme-monorail/scss/_functions.scss
Labels: package: marko-web-theme-monorail

#478 Remove duplicate theme-site-footer component
  packages/marko-web-theme-monorail/components/marko.json
  packages/marko-web-theme-monorail/components/site-footer.marko
  packages/marko-web-theme-monorail/components/site-footer/index.marko
Labels: package: marko-web-theme-monorail

#459 Support additional search page translations
  packages/marko-web-search/browser/sort-select.vue
  packages/marko-web-search/components/filters/content-types.marko
  packages/marko-web-search/components/filters/filter-block.marko
  packages/marko-web-search/components/filters/selected/index.marko
  packages/marko-web-search/components/filters/website-sections.marko
  packages/marko-web-search/components/links/next-page.marko
  packages/marko-web-search/components/links/previous-page.marko
  packages/marko-web-search/components/pagination-controls.marko
  packages/marko-web-search/components/sort-by/index.marko
  packages/marko-web-theme-monorail/templates/search.marko
Labels: package: marko-web-search, package: marko-web-theme-monorail

#479 Remove duplicate theme-content-attribution components
  packages/marko-web-theme-monorail/components/content/attribution/components/authors.marko
  packages/marko-web-theme-monorail/components/content/attribution/components/byline.marko
  packages/marko-web-theme-monorail/components/content/attribution/components/company.marko
  packages/marko-web-theme-monorail/components/content/attribution/components/contributors.marko
  packages/marko-web-theme-monorail/components/content/attribution/components/photographers.marko
  packages/marko-web-theme-monorail/components/content/attribution/components/source.marko
  packages/marko-web-theme-monorail/components/content/attribution/components/sponsors.marko
  packages/marko-web-theme-monorail/components/content/attribution/contact-details/index.marko
  packages/marko-web-theme-monorail/components/content/attribution/contact-details/marko.json
  packages/marko-web-theme-monorail/components/content/attribution/contact-details/section.marko
  packages/marko-web-theme-monorail/components/content/attribution/index.marko
  packages/marko-web-theme-monorail/components/content/attribution/marko.json
  packages/marko-web-theme-monorail/components/content/marko.json
Labels: package: marko-web-theme-monorail

#457 Allow override of country label on Profile form
  packages/marko-web-identity-x/browser/profile.vue
Labels: package: marko-web-identity-x

#480 Use isNaN checks over truthy checks for dimensions, cropRectangle
  packages/image/src/crop-rectangle.js
Labels: bug, package: image

#482 Ensure dimensions are actually numbers, crop dimensions within crop rectangle.
  packages/image/src/crop-rectangle.js
Labels: bug, package: image

#483 IdentityX: Change email support
  packages/marko-web-identity-x/api/mutations/send-change-email-link.js
  packages/marko-web-identity-x/browser/change-email-confirm.vue
  packages/marko-web-identity-x/browser/change-email-init.vue
  packages/marko-web-identity-x/browser/index.js
  packages/marko-web-identity-x/components/form-change-email.marko
  packages/marko-web-identity-x/components/marko.json
  packages/marko-web-identity-x/hooks.js
  packages/marko-web-identity-x/routes/change-email-confirm.js
  packages/marko-web-identity-x/routes/change-email-init.js
  packages/marko-web-identity-x/routes/index.js
  packages/marko-web-identity-x/service.js
  services/example-website/browser/index.js
  services/example-website/server/templates/user/change-email.marko
Labels: package: marko-web-identity-x

#484 Add shuffle support to white-papers block
  packages/marko-web-theme-monorail/components/blocks/white-papers.marko
  packages/marko-web-theme-monorail/utils/shuffle-array.js
Labels: package: marko-web-theme-monorail

#485 Add transcript fields to podcast & videos both in the graphql & within monorail website
  packages/marko-web-theme-monorail/scss/components/_content-page.scss
  packages/marko-web/components/element/content/marko.json
  packages/marko-web/components/element/content/transcript.marko
  packages/marko-web/components/page/metadata/content.marko
  packages/marko-web/components/page/metadata/google-structured-data/content.js
  packages/marko-web/package.json
  services/graphql-server/src/graphql/definitions/platform/content/types/podcast.js
  services/graphql-server/src/graphql/definitions/platform/content/types/video.js
  services/graphql-server/src/graphql/definitions/platform/content/types/webinar.js
Labels: service: graphql-server, package: marko-web, package: marko-web-theme-monorail

#489 Add Transcript on content-page fragment
  packages/marko-web-theme-monorail/graphql/fragments/content-page.js
Labels: package: marko-web-theme-monorail

#488 Add profile onSubmit message and redirect logic
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/components/marko.json
  packages/marko-web-theme-monorail/scss/components/_identity-x.scss
Labels: package: marko-web-identity-x, package: marko-web-theme-monorail
