Repository parameter1/base-cms, pull requests merged in 2022-10, with the labels that each got.

#413 Add ```marko-web-image-slider``` component
  packages/marko-web-theme-default/scss/_components.scss
  packages/marko-web-theme-default/scss/bootstrap/_components.scss
  packages/marko-web/browser/components/image-slide.vue
  packages/marko-web/browser/components/image-slider.vue
  packages/marko-web/browser/components/index.js
  packages/marko-web/components/element/image/marko.json
  packages/marko-web/components/element/image/slider.marko
  packages/marko-web/scss/carousel.scss
Labels: package: marko-web, package: marko-web-theme-default

#444 Correct setLink in updateWebsiteSection mutation
  services/graphql-server/src/graphql/resolvers/website/section.js
Labels: bug, service: graphql-server

#443 Add initial width and height to content page primary image
  packages/marko-web-theme-monorail/components/blocks/primary-image.marko
  packages/marko-web-theme-monorail/graphql/fragments/content-page.js
  packages/marko-web-theme-monorail/utils/get-image-height.js
Labels: package: marko-web-theme-monorail

#445 Set width & height on images
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
  packages/marko-web/components/element/components/image.marko
  packages/marko-web/components/element/marko.json
  packages/marko-web/components/element/picture.marko
  packages/marko-web/components/node/image.marko
Labels: package: marko-web, package: marko-web-theme-monorail

#446 Add width + height to primary image source values
  packages/marko-web-theme-monorail/components/blocks/primary-image.marko
Labels: package: marko-web-theme-monorail

#441 Add childCompanies fields on ContentCompany
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
Labels: service: graphql-server

#448 Fix cropRectangle spelling
  packages/marko-web-theme-monorail/components/blocks/primary-image.marko
Labels: package: marko-web-theme-monorail

#449 Add mutation to update content taxonomy
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#450 Add width + height support to default-theme-navbar-logo
  packages/marko-web-theme-default/components/site-navbar/logo.marko
Labels: package: marko-web-theme-default

#451 Add width + height to footer logos
  packages/marko-web-theme-monorail/components/site-footer.marko
Labels: package: marko-web-theme-monorail

#452 Add custom formatter support to Omeda+IdX rapid identification calls
  packages/marko-web-omeda-identity-x/add-integration-hooks.js
  packages/marko-web-omeda-identity-x/index.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-authentication-success.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-user-profile-update.js
  services/example-website/config/omeda-identity-x.js
  services/example-website/config/site.js
Labels: package: marko-web-omeda-identity-x

#437 Add example export service
  docker-compose.yml
  services/example-export/config/core.js
  services/example-export/config/custom.js
  services/example-export/exports/core/default.json.js
  services/example-export/exports/site/parameter1-com.www.base.parameter1.com/index.txt.js
  services/example-export/index.js
  services/example-export/package.json
Labels: service: example-export

#456 Allow the deploymentTypes prop to be passed through the omedaRapidIdentify middleware
  packages/marko-web-omeda-identity-x/middleware/rapid-identify.js
  packages/marko-web-omeda-identity-x/rapid-identify.js
  services/example-website/config/omeda-identity-x.js
Labels: package: marko-web-omeda-identity-x

#461 Add configurable email validation to user creation
  packages/marko-web-identity-x/service.js
Labels: package: marko-web-identity-x

#462 Pass default field labels through to components
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-authenticate.marko
Labels: bug, package: marko-web-identity-x

#466 Adjust embedded image css to address CLS issue
  packages/marko-web-theme-monorail/scss/components/_content-page.scss
Labels: package: marko-web-theme-monorail

#465 IdentityX fixes, newsletter signup consent
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/index.js
  packages/marko-web-identity-x/service.js
  packages/marko-web-omeda-identity-x/add-integration-hooks.js
  packages/marko-web-omeda-identity-x/integration-hooks/index.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-logout.js
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/inline.vue
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/pushdown.vue
  packages/marko-web-theme-monorail/components/identity-x/newsletter-footer.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-inline.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-pushdown.marko
  services/example-website/server/components/document.marko
  services/example-website/server/templates/index.marko
  services/example-website/server/templates/section.marko
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x, service: example-website, package: marko-web-theme-monorail
