Repository parameter1/base-cms, pull requests merged in 2022-03, with the labels that each got.

#255 Upgrade deferred script loader version
  packages/marko-web-deferred-script-loader/components/load.marko
Labels: package: marko-web-deferred-script-loader

#256 Add support for placeholder being passed to login form
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/marko.json
Labels: package: marko-web-identity-x

#252 Add Omeda address, phone fields to initial sync
  packages/marko-web-identity-x/browser/form/fields/phone-number.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/config.js
  packages/marko-web-identity-x/routes/profile.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda/rapid-identify.js
  services/example-website/server/components/document.marko
Labels: package: marko-web-omeda-identity-x

#257 Expand Omeda promo code handling
  packages/marko-web-omeda-identity-x/README.md
  packages/marko-web-omeda-identity-x/index.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda-identity-x/middleware/rapid-identify.js
  packages/marko-web-omeda-identity-x/middleware/set-promo-source.js
  packages/marko-web-omeda-identity-x/routes/rapid-identify.js
  packages/marko-web-omeda-identity-x/utils/extract-promo-code.js
Labels: package: marko-web-identity-x

#260 Add phone number to active user fragment
  packages/marko-web-identity-x/api/fragments/active-user.js
Labels: bug, package: marko-web-identity-x

#261 Add updated filter to websiteScheduledContent
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#264 Add preview support to native-x stories
  packages/marko-web-native-x/middleware/with-story.js
Labels: package: marko-web-native-x

#265 Set useCropRectangle to true by default
  services/graphql-server/src/graphql/definitions/platform/asset.js
Labels: service: graphql-server

#262 ```requiresIndexed``` field on ```AllPublishedContentQuery```
  packages/marko-web-html-sitemap/templates/day.marko
  packages/web-common/src/block-loaders/all-published-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server, package: marko-web-html-sitemap
