Repository parameter1/base-cms, pull requests merged in 2022-06, with the labels that each got.

#319 Remove fieldset from Identity-X Comments Login Form
  packages/marko-web-identity-x/browser/login.vue
Labels: package: marko-web-identity-x

#318 Adjust text colors of newsletter signup.
  packages/marko-web-theme-monorail/scss/components/_site-newsletter-menu.scss
Labels: package: marko-web-theme-monorail

#324 Add theme-site-navbar, theme-site-header components
  packages/marko-web-theme-monorail/components/marko.json
  packages/marko-web-theme-monorail/components/site-header.marko
  packages/marko-web-theme-monorail/components/site-navbar/brand.marko
  packages/marko-web-theme-monorail/components/site-navbar/index.marko
  packages/marko-web-theme-monorail/components/site-navbar/item.marko
  packages/marko-web-theme-monorail/components/site-navbar/items.marko
  packages/marko-web-theme-monorail/components/site-navbar/logo.marko
  packages/marko-web-theme-monorail/components/site-navbar/marko.json
  packages/marko-web-theme-monorail/components/site-navbar/utils/get-nav-items.js
  packages/marko-web-theme-monorail/components/site-navbar/utils/is-active-link.js
Labels: package: marko-web-theme-monorail

#325 Allow zero values in `x1` and `y1` crop dimensions
  packages/image/src/crop-rectangle.js
  services/graphql-server/src/graphql/resolvers/platform/asset.js
Labels: service: graphql-server, package: image

#326 Set default newsletter signup colors to grayscale
  packages/marko-web-theme-monorail/scss/_variables.scss
Labels: package: marko-web-theme-monorail

#331 Require magazine cover image by default, use fit=max
  packages/marko-web-theme-default/components/blocks/magazine-publication-card/components/archived-issue.marko
  packages/marko-web-theme-default/components/blocks/magazine-publication-card/components/latest-issue.marko
  packages/marko-web-theme-default/components/blocks/magazine-publication-card/index.marko
Labels: package: marko-web-theme-default

#332 Add card-deck-flow to monorail theme
  packages/marko-web-theme-monorail/components/breadcrumbs/scss/_breadcrumbs.scss
  packages/marko-web-theme-monorail/components/flows/card-deck.marko
  packages/marko-web-theme-monorail/components/flows/marko.json
  packages/marko-web-theme-monorail/scss/_variables.scss
  packages/marko-web-theme-monorail/scss/components/flows/_card-deck.scss
  packages/marko-web-theme-monorail/scss/core.scss
Labels: package: marko-web-theme-monorail

#330 Add <content-card-deck-block /> component
  packages/marko-web-theme-monorail/components/blocks/content-card-deck.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/related-stories.marko
  packages/marko-web-theme-monorail/components/blocks/section-card-deck.marko
  packages/marko-web-theme-monorail/graphql/fragments/content-card-deck-block.js
  packages/marko-web-theme-monorail/scss/components/blocks/_content-card-deck.scss
  packages/marko-web-theme-monorail/scss/components/blocks/_section-card-deck.scss
  packages/marko-web-theme-monorail/scss/core.scss
Labels: package: marko-web-theme-monorail

#328 Ensure that the email input has a unique Id
  packages/marko-web-identity-x/browser/form/fields/email.vue
Labels: package: marko-web-identity-x

#334 Add menu `auto` open and additional icon styles
  packages/leaders-program/src/components/containers/columns.vue
  packages/leaders-program/src/components/containers/section-wrapper.vue
  packages/leaders-program/src/components/containers/section.vue
  packages/leaders-program/src/components/icons/chevron-down.vue
  packages/leaders-program/src/components/icons/chevron-right.vue
  packages/leaders-program/src/components/leaders.vue
  packages/leaders-program/src/components/list/dropdown.vue
  packages/leaders-program/src/components/list/index.vue
  packages/leaders-program/src/components/list/positions/menu-position.js
  packages/leaders-program/src/scss/_variables.scss
  packages/leaders-program/src/scss/components/_card.scss
  packages/leaders-program/src/scss/components/_content-deck.scss
  packages/leaders-program/src/scss/components/_grid.scss
  packages/leaders-program/src/scss/components/_section.scss
  packages/leaders-program/src/scss/leaders.scss
Labels: package: leaders-program

#338 Fix resolver for bypassGating field
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: bug, service: graphql-server

#340 Add nativeX.indexes prop support
  packages/marko-web-theme-monorail/components/flows/content/list.marko
  packages/marko-web-theme-monorail/components/flows/content/marko.json
Labels: package: marko-web-theme-monorail

#342 Add theme-latest-content-list block
  packages/marko-web-theme-monorail/components/blocks/latest-content-list.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/scss/components/blocks/_latest-content-list.scss
  packages/marko-web-theme-monorail/scss/core.scss
Labels: package: marko-web-theme-monorail

#341 Remove text-align: center from embedded images
  packages/marko-web-theme-default/scss/components/_embedded-media.scss
Labels: package: marko-web-theme-default, package: marko-web-theme-monorail

#343 Fix graphql fragment import
  packages/marko-web-theme-monorail/components/blocks/latest-content-list.marko
Labels: package: marko-web-theme-monorail

#349 Support loading leaders sections by related ids
  packages/leaders-program/src/components/leaders.vue
  services/example-website/graphql/fragments/website-section-page.js
  services/example-website/server/components/document.marko
  services/example-website/server/routes/index.js
  services/example-website/server/templates/content.marko
  services/example-website/server/templates/index.marko
  services/example-website/server/templates/leaders.marko
  services/example-website/server/templates/section.marko
  services/graphql-server/src/graphql/definitions/website/section.js
Labels: package: leaders-program, service: example-website

#344 Adjust inline newsletter box
  packages/marko-web-theme-monorail/scss/components/_site-newsletter-menu.scss
Labels: package: marko-web-theme-monorail

#346 Add page attributions for combine from/by line
  packages/marko-web-theme-monorail/components/content-attribution/attribution.marko
  packages/marko-web-theme-monorail/components/content-attribution/components/authors.marko
  packages/marko-web-theme-monorail/components/content-attribution/components/byline.marko
  packages/marko-web-theme-monorail/components/content-attribution/components/company.marko
  packages/marko-web-theme-monorail/components/content-attribution/components/contributors.marko
  packages/marko-web-theme-monorail/components/content-attribution/components/photographers.marko
  packages/marko-web-theme-monorail/components/content-attribution/components/source.marko
  packages/marko-web-theme-monorail/components/content-attribution/components/sponsors.marko
  packages/marko-web-theme-monorail/components/content-attribution/index.marko
  packages/marko-web-theme-monorail/components/content-attribution/marko.json
  packages/marko-web-theme-monorail/components/marko.json
Labels: package: marko-web-theme-monorail

#347 Darken colors of ```btn-secondary``` from gray-700 to gray-800
  packages/marko-web-theme-monorail/scss/variables/_buttons.scss
Labels: package: marko-web-theme-monorail

#348 Add with-native-x-section support to list flow
  packages/marko-web-theme-monorail/components/blocks/latest-content-list.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/flows/content/list.marko
  packages/marko-web-theme-monorail/components/flows/content/marko.json
Labels: package: marko-web-theme-monorail

#350 Retrieve/modify website section related ids
  services/graphql-server/src/graphql/definitions/website/section.js
  services/graphql-server/src/graphql/resolvers/website/section.js
Labels: enhancement, service: graphql-server

#321 IdentityX+Omeda customer data resync
  packages/marko-web-identity-x/service.js
  packages/marko-web-omeda-identity-x/add-integration-hooks.js
  packages/marko-web-omeda-identity-x/index.js
  packages/marko-web-omeda-identity-x/integration-hooks/index.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda-identity-x/middleware/resync-customer-data.js
  packages/marko-web-omeda-identity-x/middleware/set-olytics-cookie.js
  packages/marko-web-omeda-identity-x/omeda-data/get-answered-question-map.js
  packages/marko-web-omeda-identity-x/omeda-data/get-omeda-customer-record.js
  packages/marko-web-omeda-identity-x/omeda-data/get-omeda-linked-fields.js
  packages/marko-web-omeda-identity-x/omeda-data/index.js
  packages/marko-web-omeda-identity-x/omeda-data/set-omeda-data.js
  packages/marko-web-omeda-identity-x/omeda-data/set-omeda-demographics.js
  packages/marko-web-omeda-identity-x/omeda-data/set-omeda-deployment-types.js
  packages/marko-web-omeda-identity-x/utils/resync-cookie.js
Labels: package: marko-web-omeda-identity-x

#345 Encode HTML ampersand entities in image query string
  services/rss/src/routes/all-published-content.js
  services/rss/src/routes/website-scheduled-content.js
  services/rss/src/utils/create-channel.js
  services/rss/src/utils/create-item.js
Labels: service: rss

#351 Revert custom submit button handling
  docker-compose.yml
  packages/marko-web-identity-x/browser/form/common/button.vue
  packages/marko-web-identity-x/browser/profile.vue
Labels: bug, package: marko-web-identity-x

#353 Add monorail magazine package
  packages/marko-web-theme-monorail-magazine/.eslintignore
  packages/marko-web-theme-monorail-magazine/.eslintrc.js
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-archived-issue.marko
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-current-issue.marko
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-issue-cards.marko
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-issues.marko
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-latest-issue.marko
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-publication-card.marko
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-publications.marko
  packages/marko-web-theme-monorail-magazine/components/blocks/marko.json
  packages/marko-web-theme-monorail-magazine/components/flows/magazine-issue-archive.marko
  packages/marko-web-theme-monorail-magazine/components/flows/magazine-latest-issue.marko
  packages/marko-web-theme-monorail-magazine/components/flows/marko.json
  packages/marko-web-theme-monorail-magazine/components/marko.json
  packages/marko-web-theme-monorail-magazine/components/nodes/magazine-issue-archive.marko
  packages/marko-web-theme-monorail-magazine/components/nodes/magazine-latest-issue.marko
  packages/marko-web-theme-monorail-magazine/components/nodes/marko.json
  packages/marko-web-theme-monorail-magazine/components/publication-buttons.marko
  packages/marko-web-theme-monorail-magazine/graphql/fragments/issue-archive.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/latest-issue.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-issue-archive.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-issue-page.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-latest-issue.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-publication-list.js
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-publication-page.js
  packages/marko-web-theme-monorail-magazine/marko.json
  packages/marko-web-theme-monorail-magazine/package.json
  packages/marko-web-theme-monorail-magazine/routes/index.js
  packages/marko-web-theme-monorail-magazine/scss/index.scss
  packages/marko-web-theme-monorail-magazine/templates/index.marko
  packages/marko-web-theme-monorail-magazine/templates/issue.marko
  packages/marko-web-theme-monorail-magazine/templates/publication.marko
Labels: package: marko-web-theme-monorail

#352 Add IdentityX newsletter components
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/marko.json
  packages/marko-web-identity-x/routes/login.js
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/index.js
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/inline.vue
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/pushdown.vue
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/toggle-button.vue
  packages/marko-web-theme-monorail/browser/index.js
  packages/marko-web-theme-monorail/browser/ssr.js
  packages/marko-web-theme-monorail/components/identity-x/marko.json
  packages/marko-web-theme-monorail/components/identity-x/newsletter-footer.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-inline.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-pushdown.marko
  packages/marko-web-theme-monorail/components/site-footer.marko
  packages/marko-web-theme-monorail/components/site-header.marko
  packages/marko-web-theme-monorail/middleware/i18n.js
  packages/marko-web-theme-monorail/middleware/newsletter-state.js
  packages/marko-web-theme-monorail/scss/components/_site-navbar.scss
  packages/marko-web-theme-monorail/scss/components/blocks/_newsletter-signup-banner.scss
  services/example-website/config/newsletter.js
  services/example-website/config/site.js
  services/example-website/index.js
  services/example-website/server/components/components/site-header.marko
  services/example-website/server/components/document.marko
  services/example-website/server/styles/index.scss
  services/example-website/server/templates/components/comment-stream.marko
  services/example-website/server/templates/components/leaders-context.marko
  services/example-website/server/templates/components/primary-media.marko
  services/example-website/server/templates/components/rmi-form.marko
  services/example-website/server/templates/content.marko
  services/example-website/server/templates/index.marko
  services/example-website/server/templates/section.marko
Labels: package: marko-web-identity-x, service: example-website, package: marko-web-theme-monorail

#360 Add support for external newsletter signup and IdX newsletter config prop
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/newsletter-signup-banner-external.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-footer.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-inline.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-pushdown.marko
  packages/marko-web-theme-monorail/components/site-footer.marko
  packages/marko-web-theme-monorail/scss/components/blocks/_newsletter-signup-site-footer.scss
  packages/marko-web-theme-monorail/scss/core.scss
Labels: package: marko-web-theme-monorail

#362 Fix NativeX tracking
  packages/marko-web-native-x/components/gtm-init.marko
Labels: bug, package: marko-web-native-x

#358 Fix monorail magazine package
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-issue-cards.marko
  packages/marko-web-theme-monorail-magazine/graphql/fragments/section-feed-block.js
  packages/marko-web-theme-monorail-magazine/package.json
Labels: package: marko-web-theme-monorail-magazine
