Repository parameter1/base-cms, pull requests merged in 2022-02, with the labels that each got.

#231 Add `ContentUserRegistration.isCurrentlyRequired` field
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#232 Add default prop value for continue in the login-button-labels default prop value
  packages/marko-web-identity-x/browser/comments/stream.vue
Labels: package: marko-web-identity-x

#234 Create Omeda customer upsert middleware
  packages/marko-web-omeda/odentity/upsert-customer.js
  packages/marko-web-omeda/package.json
Labels: package: marko-web-omeda

#236 Add support for custom website hostnames
  packages/marko-web/start-server.js
Labels: package: marko-web

#240 Ensure Omeda encrypted IDs are properly kept in-sync with server state
  packages/marko-web-identity-x/config.js
  packages/marko-web-identity-x/service.js
  packages/marko-web-omeda-identity-x/add-integration-hooks.js
  packages/marko-web-omeda-identity-x/integration-hooks/index.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-load-active-context.js
  packages/marko-web-omeda/olytics/customer-cookie.js
  packages/marko-web-omeda/package.json
  packages/marko-web-p1-fii/browser/omeda-alchemer-form.vue
  packages/marko-web-p1-fii/browser/omeda-wufoo-form.vue
  packages/marko-web-p1-fii/components/omeda-alchemer-form.marko
  packages/marko-web-p1-fii/components/omeda-wufoo-form.marko
  packages/marko-web-p1-fii/proxy.js
  yarn.lock
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x, package: marko-web-omeda

#237 Add inCarousel to asset definition
  services/graphql-server/src/graphql/definitions/platform/asset.js
Labels: service: graphql-server

#241 Ensure `sectionQuery` is an array before accessing
  packages/utils/src/get-section-from-schedules.js
Labels: package: utils

#242 Return `sectionQuery` field with `Content.siteContext`
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
Labels: service: graphql-server

#244 Set the Omeda cookie for the backend request
  packages/marko-web-omeda-identity-x/middleware/strip-olytics-param.js
Labels: bug, package: marko-web-omeda-identity-x

#251 Add street, extra address, city to rapid ident
  packages/marko-web-omeda/rapid-identify.js
Labels: package: marko-web-omeda
