Repository parameter1/base-cms, pull requests merged in 2022-09, with the labels that each got.

#423 Add support for skipping browser component rendering
  packages/marko-web-leaders/components/index.marko
  packages/marko-web/browser/index.js
  packages/marko-web/components/browser-component.marko
  packages/marko-web/components/marko.json
Labels: package: marko-web, package: marko-web-leaders

#424 Add type to with-dynamic-page fragment
  packages/web-common/src/gql/fragments/with-dynamic-page.js
Labels: package: web-common

#427 Remove double quotes from `oly_enc_id` cookie value
  packages/marko-web-omeda/olytics/customer-cookie.js
Labels: package: marko-web-omeda

#426 Allow translation of Follow and Sponsor Content, Theme Monorail
  packages/marko-web-theme-monorail/components/blocks/content-card-deck.marko
  packages/marko-web-theme-monorail/components/blocks/related-stories.marko
  packages/marko-web-theme-monorail/components/blocks/top-stories.marko
  packages/marko-web-theme-monorail/components/social-follow.marko
Labels: package: marko-web-theme-monorail

#425 Ad injection logic modification for when images are contained within a paragraph.
  packages/marko-web-gam/browser/inject-ads.vue
Labels: package: marko-web-gam

#422 Add CSS classes to embedded image wrapping element depending on existence of caption and/or credit.
  packages/marko-web/utils/embedded-media/image.js
Labels: package: marko-web

#428 Marko packages for Auth0/IdentityX support
  docker-compose.yml
  packages/marko-web-auth0-identity-x/README.md
  packages/marko-web-auth0-identity-x/after-callback.js
  packages/marko-web-auth0-identity-x/index.js
  packages/marko-web-auth0-identity-x/middleware.js
  packages/marko-web-auth0-identity-x/package.json
  packages/marko-web-auth0/context.js
  packages/marko-web-auth0/index.js
  packages/marko-web-auth0/package.json
  packages/marko-web-identity-x/api/mutations/create-app-user.js
  packages/marko-web-identity-x/api/mutations/impersonate-app-user.js
  packages/marko-web-identity-x/api/mutations/logout-app-user.js
  packages/marko-web-identity-x/api/mutations/send-login-link.js
  packages/marko-web-identity-x/routes/login.js
  packages/marko-web-identity-x/routes/logout.js
  packages/marko-web-identity-x/service.js
  services/example-website/config/navigation.js
  services/example-website/config/site.js
  services/example-website/index.js
  services/example-website/package.json
  yarn.lock
Labels: package: marko-web-identity-x, package: marko-web-auth0, package: marko-web-auth0-identity-x

#429 A0+IdX Updates
  packages/marko-web-auth0-identity-x/after-callback.js
  packages/marko-web-auth0-identity-x/middleware.js
  packages/marko-web-identity-x/browser/form/fields/receive-email.vue
  packages/marko-web-identity-x/browser/profile.vue
Labels: package: marko-web-identity-x, package: marko-web-auth0-identity-x

#430 Add support for `initOnly` in deferred script loading
  packages/marko-web-deferred-script-loader/components/load-script.marko
  packages/marko-web-deferred-script-loader/components/load.marko
  packages/marko-web-deferred-script-loader/components/marko.json
  packages/marko-web-deferred-script-loader/components/register.marko
  packages/marko-web-gam/components/init.marko
  packages/marko-web-gam/components/marko.json
  packages/marko-web-gtm/components/init.marko
  packages/marko-web-gtm/components/marko.json
  packages/marko-web-native-x/components/init.marko
  packages/marko-web-native-x/components/marko.json
  packages/marko-web-omeda/components/olytics/init.marko
  packages/marko-web-omeda/components/olytics/marko.json
  packages/marko-web-p1-events/components/init.marko
  packages/marko-web-p1-events/components/marko.json
Labels: package: marko-web-native-x, package: marko-web-p1-events, package: marko-web-gam, package: marko-web-deferred-script-loader, package: marko-web-gtm, package: marko-web-omeda

#432 Update deferred script loader js
  packages/marko-web-deferred-script-loader/components/load.marko
Labels: package: marko-web-deferred-script-loader

#433 Add support for disabling wallpaper, gtm, olytics
  packages/marko-web-gtm/components/init.marko
  packages/marko-web-omeda/components/olytics/init.marko
  packages/marko-web-theme-monorail/components/gam/wallpaper-ad.marko
  packages/marko-web/middleware/disabled-features.js
  packages/marko-web/start-server.js
Labels: package: marko-web-theme-monorail

#434 Prevent error when disabled features isn't set
  packages/marko-web-gtm/components/init.marko
  packages/marko-web-omeda/components/olytics/init.marko
  packages/marko-web-theme-monorail/components/gam/wallpaper-ad.marko
  packages/marko-web/start-server.js
Labels: package: marko-web, package: marko-web-gtm, package: marko-web-omeda, package: marko-web-theme-monorail

#431 Auth0+IdentityX redirects
  .github/CODEOWNERS
  packages/marko-web-auth0-identity-x/middleware.js
  packages/marko-web-auth0/index.js
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/service.js
  packages/marko-web-theme-monorail/browser/index.js
Labels: package: marko-web-identity-x, package: marko-web-theme-monorail, package: marko-web-auth0-identity-x

#435 Update identity-x form styling
  packages/marko-web-theme-monorail/scss/components/_identity-x.scss
Labels: package: marko-web-identity-x, package: marko-web-theme-monorail

#436 Add before and after support to section-feed-block
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/section-feed.marko
Labels: package: marko-web-theme-monorail
