Repository parameter1/base-cms, pull requests merged in 2022-01, with the labels that each got.

#213 Add support for filtering allPublishedContent by updated date
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#211 Update marko-web-identity-x new design on the given steps.
  packages/marko-web-identity-x/browser/comments/stream.vue
  packages/marko-web-identity-x/components/comment-stream.marko
  packages/marko-web-identity-x/components/marko.json
Labels: package: marko-web-identity-x

#212 Add support for customBooleanFields to the IdentityX profile component
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/browser/form/fields/custom-boolean.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/routes/profile.js
Labels: package: marko-web-identity-x

#219 Fix spacing on the Inquiry notification email
  packages/marko-web-inquiry/templates/notification.marko
Labels: package: marko-web-inquiry

#214 Use `PUBLISHED DESC` as default return order, add sortBy filter list support.
  packages/marko-web-search/browser/index.js
  packages/marko-web-search/browser/sort-select.vue
  packages/marko-web-search/components/marko.json
  packages/marko-web-search/components/sort-by/index.marko
  packages/marko-web-search/components/sort-by/marko.json
  packages/marko-web-search/config/query-params.js
  packages/marko-web-search/loaders/search.js
Labels: package: marko-web-search

#220 Add Omeda and IdentityX to example website
  docker-compose.yml
  packages/marko-web-omeda/rapid-identify.js
  services/example-website/browser/index.js
  services/example-website/config/identity-x.js
  services/example-website/config/omeda.js
  services/example-website/config/site.js
  services/example-website/index.js
  services/example-website/package.json
  services/example-website/server/templates/user/authenticate.marko
  services/example-website/server/templates/user/index.js
  services/example-website/server/templates/user/login.marko
  services/example-website/server/templates/user/logout.marko
  services/example-website/server/templates/user/profile.marko
  services/example-website/server/templates/user/register.marko
Labels: service: example-website

#222 Sync IdentityX custom boolean questions with Omeda
  docker-compose.yml
  packages/marko-web-identity-x/api/fragment-types.json
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/browser/form/fields/custom-boolean.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/routes/profile.js
  packages/marko-web-identity-x/utils/create-client.js
  packages/marko-web-omeda-identity-x/external-id/is-deployment-type-id.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda-identity-x/rapid-identify.js
  packages/marko-web-omeda/rapid-identify.js
  services/example-website/config/omeda.js
  services/example-website/index.js
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x, package: marko-web-omeda

#224 Run IdentityX+Omeda user updates in series
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
Labels: package: marko-web-omeda-identity-x

#226 Add `Mutation.contentUserRegistration`
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#227 Allow overriding of sortField, ```marko-web-search-sort-by```
  packages/marko-web-search/components/sort-by/index.marko
Labels: package: marko-web-search
