Repository parameter1/base-cms, pull requests merged in 2022-05, with the labels that each got.

#294 Write-in value support for IdentityX custom selects
  docker-compose.yml
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/browser/form/fields/custom-select-write-in.vue
  packages/marko-web-identity-x/browser/form/fields/custom-select.vue
  packages/marko-web-identity-x/routes/profile.js
  packages/marko-web-theme-default/scss/bootstrap/_components.scss
Labels: package: marko-web-identity-x

#295 Support IdentityX+Omeda write-in values
  packages/marko-web-identity-x/browser/form/fields/custom-select-write-in.vue
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda-identity-x/rapid-identify.js
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x

#296 Only send writeIn input when present
  packages/marko-web-identity-x/routes/profile.js
Labels: bug, package: marko-web-identity-x

#297 Add translations for Vue components Monorail theme
  packages/marko-web-theme-monorail/browser/translations-vue.js
Labels: package: marko-web-theme-monorail

#299 Do not inject an ad next to another ad.
  packages/marko-web-gam/browser/inject-ads.vue
Labels: package: marko-web-gam

#304 Correct Aria Label for Footer Primary Navigation.
  packages/marko-web-theme-monorail/components/site-footer.marko
Labels: package: marko-web-theme-monorail

#307 Add titles to share buttons
  packages/marko-web-social-sharing/browser/share-button.vue
Labels: marko-web-social-sharing

#309 Create `marko-web-recaptcha` package and use in contact-us, inquiry & theme-monorail packages
  docker-compose.yml
  packages/marko-web-contact-us/browser/form.vue
  packages/marko-web-contact-us/components/contact-us-form.marko
  packages/marko-web-contact-us/env.js
  packages/marko-web-contact-us/index.js
  packages/marko-web-contact-us/package.json
  packages/marko-web-inquiry/browser/default-form.vue
  packages/marko-web-inquiry/components/form.marko
  packages/marko-web-inquiry/env.js
  packages/marko-web-inquiry/package.json
  packages/marko-web-inquiry/routers/submit.js
  packages/marko-web-omeda/config/recaptcha.js
  packages/marko-web-omeda/package.json
  packages/marko-web-omeda/routes/omeda-newsletters.js
  packages/marko-web-recaptcha/README.md
  packages/marko-web-recaptcha/browser/.eslintrc.js
  packages/marko-web-recaptcha/browser/get-token.js
  packages/marko-web-recaptcha/browser/load.js
  packages/marko-web-recaptcha/package.json
  packages/marko-web-recaptcha/src/index.js
  packages/marko-web-recaptcha/src/validate-token.js
  packages/marko-web-theme-monorail/browser/inline-newsletter-form/step1.vue
  packages/marko-web-theme-monorail/browser/newsletter-signup-form/get-recaptcha-token.js
  packages/marko-web-theme-monorail/browser/newsletter-signup-form/step2.vue
  packages/marko-web-theme-monorail/browser/site-newsletter-menu/step1.vue
  packages/marko-web-theme-monorail/components/marko.json
  packages/marko-web-theme-monorail/components/recaptcha.marko
  packages/marko-web-theme-monorail/package.json
  services/example-website/browser/index.js
  services/example-website/browser/ssr.js
  services/example-website/config/newsletter.js
  services/example-website/config/privacy-policy.js
  services/example-website/config/recaptcha.js
  services/example-website/config/site.js
  services/example-website/graphql/fragments/content-page.js
  services/example-website/index.js
  services/example-website/package.json
  services/example-website/server/components/document.marko
  services/example-website/server/routes/index.js
  services/example-website/server/styles/index.scss
  services/example-website/server/templates/content.marko
  yarn.lock
Labels: package: marko-web-omeda, package: marko-web-inquiry, package: marko-web-contact-us, package: marko-web-theme-monorail, package: marko-web-recaptcha

#310 Support for Image Alt input
  packages/image/src/create-alt-for.js
  packages/marko-web-theme-monorail/graphql/fragments/content-page.js
  packages/marko-web-theme-monorail/graphql/fragments/opinion-block.js
  services/graphql-server/src/graphql/definitions/platform/asset.js
  services/graphql-server/src/graphql/resolvers/platform/asset.js
Labels: service: graphql-server, package: image, package: marko-web-theme-monorail

#311 Update default values for `from` and `replyTo`
  packages/marko-web-contact-us/index.js
Labels: package: marko-web-contact-us

#312 Add required env var check for reRECAPTCHA
  packages/marko-web-omeda/env.js
  packages/marko-web-omeda/package.json
Labels: package: marko-web-omeda

#301 Support IdentityX option groups
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/browser/form/common/button.vue
  packages/marko-web-identity-x/browser/form/common/checkbox-group.vue
  packages/marko-web-identity-x/browser/form/fields/custom-select-group.vue
  packages/marko-web-identity-x/browser/form/fields/custom-select-multiple.vue
  packages/marko-web-identity-x/browser/form/fields/custom-select-write-in-inline.vue
  packages/marko-web-identity-x/browser/form/fields/custom-select-write-in.vue
  packages/marko-web-identity-x/browser/form/fields/custom-select.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-theme-monorail/package.json
  yarn.lock
Labels: package: marko-web-identity-x

#314 Pass through width and height for embedded images.
  packages/embedded-media/src/utils/extract-attributes.js
  services/graphql-server/src/graphql/utils/embedded-image-tags.js
Labels: service: graphql-server
