Repository parameter1/base-cms, pull requests merged in 2023-02, with the labels that each got.

#547 Add userRegistration to content-meter fragment
  packages/marko-web-theme-monorail/graphql/fragments/content-meter.js
Labels: package: marko-web-theme-monorail

#549 IdentityX additional event data support
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/routes/authenticate.js
  packages/marko-web-identity-x/routes/login.js
  packages/marko-web-identity-x/routes/profile.js
  packages/marko-web-identity-x/utils/call-hooks-for.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-authentication-success.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-user-profile-update.js
  services/example-website/config/omeda-identity-x.js
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x, service: example-website

#550 Support for `withSponsored` on various `base-cms-marko-web-theme-monorail` components
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/section-feed.marko
  packages/marko-web-theme-monorail/components/blocks/section-forbes.marko
  packages/marko-web-theme-monorail/components/flows/content/list.marko
  packages/marko-web-theme-monorail/components/nodes/content.marko
  packages/marko-web-theme-monorail/utils/set-section-name-from-label.js
Labels: package: marko-web-theme-monorail

#551 Correct function signature for `setSectionNameFromLabel`
  packages/marko-web-theme-monorail/components/blocks/section-feed.marko
Labels: bug, package: marko-web-theme-monorail

#554 Add cols and title props to content-card-deck-block
  packages/marko-web-theme-monorail/components/blocks/marko.json
Labels: package: marko-web-theme-monorail

#555 Remove duplicate title prop
  packages/marko-web-theme-monorail/components/blocks/marko.json
Labels: package: marko-web-theme-monorail

#557 Allow link-header prop to work if title is defined
  packages/marko-web-theme-monorail/components/blocks/content-card-deck.marko
Labels: package: marko-web-theme-monorail

#558 Add href support to site-footer copyright component
  packages/marko-web-theme-monorail/components/site-footer/copyright.marko
  packages/marko-web-theme-monorail/scss/theme-default/components/_site-footer.scss
Labels: package: marko-web-theme-monorail

#560 Add desktopLeaderboard injection support
  packages/marko-web-theme-monorail/components/content/body-with-injection.marko
Labels: package: marko-web-theme-monorail

#561 Add target=“_blank” to external signup form
  packages/marko-web-theme-monorail/components/blocks/newsletter-signup-banner-external.marko
Labels: package: marko-web-theme-monorail

#563 Add mb-3 to name if no description
  packages/marko-web-theme-monorail/components/blocks/newsletter-signup-banner-external.marko
Labels: package: marko-web-theme-monorail

#564 Collapse image container if none present
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
Labels: package: marko-web-theme-monorail

#565 Pass through class and modifiers props
  packages/marko-web-theme-monorail/components/blocks/newsletter-signup-banner-external.marko
Labels: package: marko-web-theme-monorail

#566 Spread queryParams from input
  packages/marko-web-theme-monorail/components/blocks/section-card-list.marko
Labels: package: marko-web-theme-monorail

#568 Add most-popular-list-block
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/most-popular-list.marko
Labels: package: marko-web-theme-monorail

#569 Add additionalEventData flag for createdNewUser
  packages/marko-web-identity-x/routes/login.js
Labels: package: marko-web-identity-x

#571 Link images within the resource block
  packages/marko-web-theme-monorail/components/blocks/resource-library.marko
Labels: package: marko-web-theme-monorail

#573 Update magazine publication buttons component
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-latest-issue.marko
  packages/marko-web-theme-monorail-magazine/components/publication-buttons.marko
Labels: package: marko-web-theme-monorail-magazine

#576 Ensure upgrades respect current semver range
  packages/dependency-tool/package.json
  packages/dependency-tool/src/commands/upgrade/extract-deps.js
  packages/dependency-tool/src/commands/upgrade/index.js
  packages/dependency-tool/src/commands/upgrade/update-package.js
  yarn.lock
Labels: package: dependency-tool

#580 Allow `--latest` to also include prereleases if flagged
  packages/dependency-tool/src/commands/upgrade/index.js
Labels: package: dependency-tool

#614 Add type and primarySection to page fragment
  packages/marko-web-theme-monorail/graphql/fragments/dynamic-page.js
Labels: bug, package: marko-web-theme-monorail
