Repository parameter1/base-cms, pull requests merged in 2023-07, with the labels that each got.

#738 Update directory-section-feed-content-node layout
  packages/marko-web-theme-monorail/components/nodes/directory-section-feed-content.marko
Labels: package: marko-web-theme-monorail

#749 Ensure nativeX is being requested
  packages/marko-web-theme-monorail/components/flows/section-feed.marko
Labels: package: marko-web-theme-monorail

#748 Allow siteId to be sent to allPublishedContentQuery
  packages/web-common/src/block-loaders/all-published-content.js
Labels: package: web-common

#747 Set `rel="nofollow"` on Print Social Share button
  packages/marko-web-social-sharing/browser/providers.js
  packages/marko-web-social-sharing/browser/share-button.vue
Labels: package: marko-web-social-sharing

#752 Fix P1E component template
  packages/marko-web-p1-events/components/marko.json
Labels: bug
