Repository parameter1/base-cms, pull requests merged in 2023-03, with the labels that each got.

#617 Assert that `cropRectangle` returns `coords >= 0`
  packages/image/src/crop-rectangle.js
Labels: bug, package: image

#618 Fix embedded asset loading to use correct file path
  packages/marko-web/config/dist-loader.js
Labels: bug, package: marko-web

#619 Font components and `@font-face` fallbacks
  packages/leaders-program/src/scss/_variables.scss
  packages/leaders-program/src/scss/leaders.scss
  packages/marko-web/components/font/google.marko
  packages/marko-web/components/font/link.marko
  packages/marko-web/components/font/marko.json
  packages/marko-web/components/font/typekit.marko
  packages/marko-web/components/marko.json
  packages/marko-web/scss/fonts/fira-sans-fallback.scss
  packages/marko-web/scss/fonts/montserrat-fallback.scss
  packages/marko-web/scss/fonts/open-sans-condensed-fallback.scss
  packages/marko-web/scss/fonts/open-sans-fallback.scss
  packages/marko-web/scss/fonts/oswold-fallback.scss
  packages/marko-web/scss/fonts/source-sans-4-fallback.scss
  services/example-website/server/components/document.marko
  services/example-website/server/styles/index.scss
Labels: package: marko-web

#620 Create `marko-web-broadstreet` package
  packages/marko-web-broadstreet/.eslintignore
  packages/marko-web-broadstreet/README.md
  packages/marko-web-broadstreet/components/init.marko
  packages/marko-web-broadstreet/components/marko.json
  packages/marko-web-broadstreet/components/zone.marko
  packages/marko-web-broadstreet/index.js
  packages/marko-web-broadstreet/marko.json
  packages/marko-web-broadstreet/package.json
  packages/marko-web-broadstreet/scss/_ads.scss
Labels: package: marko-web-broadstreet

#559 Support for "Pinning" content in `theme-latest-products-feed-block` and `theme-section-feed-block`
  packages/marko-web-theme-monorail/components/blocks/latest-products-feed.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/components/blocks/section-feed.marko
  packages/marko-web-theme-monorail/components/query-total-count.marko
Labels: package: marko-web-theme-monorail

#624 Add unique ID to all website and graphql requests
  packages/marko-web/express/apollo.js
  packages/marko-web/express/index.js
  packages/marko-web/package.json
  services/graphql-server/package.json
  services/graphql-server/src/app.js
  services/graphql-server/src/routes/graphql.js
Labels: service: graphql-server, package: marko-web

#625 Use cache website section and option loading using Redis
  services/graphql-server/src/cache-loaders/create-option-loader.js
  services/graphql-server/src/cache-loaders/create-section-descendant-loader.js
  services/graphql-server/src/cache-loaders/create-section-loader.js
  services/graphql-server/src/cache-loaders/index.js
  services/graphql-server/src/cache-loaders/utils.js
  services/graphql-server/src/env.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/routes/graphql.js
Labels: service: graphql-server

#628 Replace client-side block loader element with incoming HTML
  packages/marko-web-theme-monorail/browser/block-loader.vue
  packages/marko-web-theme-monorail/components/client-side-block-loader.marko
  packages/marko-web-theme-monorail/components/client-side-blocks/most-popular-list.marko
  packages/marko-web-theme-monorail/components/client-side-blocks/most-popular.marko
  services/example-website/server/templates/index.marko
Labels: package: marko-web-theme-monorail

#629 Drop `max-height` from line-clamp mixins
  packages/marko-web-theme-default/scss/_mixins.scss
  packages/marko-web-theme-monorail/scss/theme-default/_mixins.scss
Labels: package: marko-web-theme-default, package: marko-web-theme-monorail

#621 "Whitelist" video embed providers and assert them as `data-embed-type="video"`
  packages/marko-web-theme-default/scss/components/_embedded-media.scss
  packages/marko-web-theme-monorail/scss/theme-default/components/_embedded-media.scss
  services/oembed/src/app.js
Labels: package: marko-web

#552 Allow overriding of link destination in `theme-section-feed-content-node`
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
  packages/marko-web-theme-monorail/graphql/fragments/section-feed-block.js
  packages/marko-web/components/element/object-link.js
Labels: package: marko-web, package: marko-web-theme-monorail

#632 Add CDN path to production deploy
  packages/web-cli/github-actions/templates/deploy-production.yml.js
Labels: package: web-cli

#633 Load `lazysizes` script from CDN
  packages/marko-web/components/document/index.marko
  packages/marko-web/express/index.js
  packages/marko-web/public/lazysizes/v5.3.2.js
Labels: package: marko-web

#631 Optimize RSS queries
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/directives/ref-many.js
  services/graphql-server/src/graphql/instropection/get-return-type.js
  services/graphql-server/src/graphql/instropection/has-selections.js
  services/graphql-server/src/graphql/instropection/index.js
  services/graphql-server/src/graphql/instropection/introspect-from-info.js
  services/graphql-server/src/graphql/instropection/introspect.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/graphql/utils/optimize-for-rss.js
  services/graphql-server/src/graphql/utils/preload-rel-many.js
  services/rss/src/routes/all-published-content.js
  services/rss/src/routes/website-scheduled-content.js
Labels: service: graphql-server, service: rss

#635 Updates to workflow templates
  packages/web-cli/github-actions/templates/deploy-production.yml.js
Labels: package: web-cli

#634 Add CDN support for build assets and public files
  packages/marko-web/components/document/index.marko
  packages/marko-web/config/core.js
  packages/marko-web/config/dist-loader.js
  packages/marko-web/express/asset-loader.js
  packages/marko-web/express/cdn.js
  packages/marko-web/express/index.js
  services/example-website/server/components/document.marko
Labels: package: marko-web

#636 Include `descendantIds` when loading section from cache
  services/graphql-server/src/cache-loaders/create-section-loader.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#640 Support route sub-kinds (types) for critical CSS
  packages/marko-web/components/document/components/styles.marko
  packages/marko-web/express/css-loader.js
  packages/web-cli/build/utils/css.js
Labels: package: marko-web, package: web-cli

#641 Add `lazyload-first-image` option to embedded images in content bodies
  packages/marko-web-theme-monorail/components/content/body-with-injection.marko
  packages/marko-web/components/element/content/body.marko
  packages/marko-web/express/embedded-media.js
Labels: package: marko-web, package: marko-web-theme-monorail

#642 Create `synthese-fallback` font and update `open-sans-condensed-fallback`
  packages/marko-web/scss/fonts/open-sans-condensed-fallback.scss
  packages/marko-web/scss/fonts/synthese-fallback.scss
Labels: package: marko-web

#643 Correct misspelling in `oswald` font file name
  packages/marko-web/scss/fonts/oswald-fallback.scss
Labels: package: marko-web

#644 Create `<marko-web-deferred-stylesheet>` component
  packages/marko-web/components/deferred-stylesheet.marko
  packages/marko-web/components/document/components/styles.marko
  packages/marko-web/components/marko.json
Labels: package: marko-web

#645 Add ability to server-side render social sharing component
  packages/marko-web-social-sharing/components/marko.json
  packages/marko-web-social-sharing/components/social-sharing.marko
  services/example-website/browser/ssr.js
  services/example-website/server/templates/content.marko
Labels: package: marko-web-social-sharing

#647 Fix bug with CSS cookie access
  packages/marko-web/express/css-loader.js
Labels: bug, package: marko-web

#648 Adjust column widths for magazine publication card block
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-publication-card.marko
Labels: package: marko-web-theme-monorail-magazine

#649 Mark minimum footer elements as critical
  packages/marko-web-theme-monorail/scss/components/_site-footer.scss
Labels: package: marko-web-theme-monorail

#650 Do not purge company search autocompleter CSS
  packages/marko-web-theme-monorail/scss/components/blocks/_company-search.scss
Labels: package: marko-web-theme-monorail

#653 Extract file assets found within CSS files during build
  packages/web-cli/bin/index.js
  packages/web-cli/build/css.js
  packages/web-cli/build/utils/css.js
  packages/web-cli/package.json
  yarn.lock
Labels: bug, package: web-cli

#654 Update assets path to point at self
  packages/marko-web-photoswipe/scss/main.scss
Labels: bug, package: marko-web-photoswipe

#651 Add additionalEventData to login response & make onHookShouldAwait configurable.
  packages/marko-web-identity-x/service.js
  packages/marko-web-omeda-identity-x/add-integration-hooks.js
  packages/marko-web-omeda-identity-x/index.js
  packages/marko-web-omeda-identity-x/validation/schemas/index.js
  packages/marko-web-omeda-identity-x/validation/schemas/should-await.js
Labels: package: marko-web-omeda-identity-x

#655 Do not rewrite `data:` or remote `http[s]:` asset urls
  packages/web-cli/build/utils/css.js
Labels: bug, package: web-cli

#657 Adjust content body css ordering
  packages/marko-web-theme-monorail/scss/components/_content-page.scss
Labels: package: marko-web-theme-monorail

#658 Add with-image support to newsletter-inline component
  packages/marko-web-theme-monorail/components/identity-x/newsletter-inline.marko
Labels: package: marko-web-theme-monorail

#660 Support for image metadata on section pages
  packages/marko-web/components/page/metadata/components/common.marko
  packages/marko-web/components/page/metadata/website-section.marko
Labels: help wanted, package: marko-web
