Repository parameter1/base-cms, pull requests merged in 2023-08, with the labels that each got.

#757 Adjust download form display of region & postal code depending on country codes
  packages/marko-web-identity-x/browser/custom-column.vue
  packages/marko-web-identity-x/browser/form/fields/address-extra.vue
  packages/marko-web-identity-x/browser/form/fields/country.vue
  packages/marko-web-identity-x/browser/form/fields/family-name.vue
  packages/marko-web-identity-x/browser/form/fields/given-name.vue
  packages/marko-web-identity-x/browser/form/fields/organization-title.vue
  packages/marko-web-identity-x/browser/form/fields/organization.vue
  packages/marko-web-identity-x/browser/form/fields/phone-number.vue
  services/example-website/config/identity-x/download.js
Labels: package: marko-web-identity-x

#761 Add native-x-fetch
  packages/marko-newsletters-native-x/components/marko.json
  packages/marko-newsletters-native-x/components/native-x-fetch.marko
Labels: package: marko-newsletters

#762 Add opts to native-x-fetch
  packages/marko-newsletters-native-x/components/marko.json
Labels: package: marko-newsletters

#763 Adjust newsletters-native-x uri
  packages/marko-newsletters-native-x/components/native-x-fetch.marko
  packages/marko-newsletters-native-x/utils/fetch-email-ad.js
Labels: package: marko-newsletters

#765 Rename core native-x-fetch component
  packages/marko-newsletters-native-x/components/core-native-x-fetch.marko
  packages/marko-newsletters-native-x/components/marko.json
  packages/marko-newsletters-native-x/utils/fetch-email-ad.js
Labels: package: marko-newsletters

#769 Add `Promise` support to body injection and handle newsletter menu body injection
  packages/marko-web-theme-monorail/browser/ssr.js
  packages/marko-web-theme-monorail/components/content/body-with-injection.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-inline.marko
  packages/marko-web-theme-monorail/components/site-newsletter-menu.marko
  packages/marko-web-theme-monorail/scss/components/_site-newsletter-menu.scss
  packages/marko-web-theme-monorail/utils/render-site-idx-newsletter-menu.js
  packages/marko-web-theme-monorail/utils/render-site-newsletter-menu.js
  packages/marko-web-theme-monorail/utils/site-idx-newsletter-menu-props.js
  packages/marko-web-theme-monorail/utils/site-newsletter-menu-props.js
  packages/marko-web/components/browser-component.marko
  packages/marko-web/components/browser-component/script.marko
  packages/marko-web/components/marko.json
  packages/marko-web/utils/render-ssr-component-from-marko.js
  services/example-website/config/newsletter.js
  services/example-website/server/templates/components/content-body.marko
Labels: package: marko-web, package: marko-web-theme-monorail
