Repository parameter1/base-cms, pull requests merged in 2023-10, with the labels that each got.

#812 Add noIndex meta tag when content is not loaded on primary site.
  packages/marko-web/components/page/metadata/content.marko
Labels: package: marko-web

#814 Redirect nativeX story paths to non-trailing /
  packages/marko-web-native-x/middleware/with-story.js
Labels: package: marko-web-native-x

#817 IdentityX identity tracking
  packages/marko-web-identity-x/api/queries/load-user-by-external-id.js
  packages/marko-web-identity-x/middleware.js
  packages/marko-web-identity-x/package.json
  packages/marko-web-identity-x/routes/authenticate.js
  packages/marko-web-identity-x/service.js
  packages/marko-web-omeda-identity-x/api/queries/customer-by-encrypted-id.js
  packages/marko-web-omeda-identity-x/index.js
  packages/marko-web-omeda-identity-x/middleware/README.md
  packages/marko-web-omeda-identity-x/middleware/set-identity-cookie.js
  packages/marko-web-theme-monorail/components/identity-x/identify.marko
  packages/marko-web-theme-monorail/components/identity-x/marko.json
  packages/web-common/website-context.js
  services/example-website/server/components/document.marko
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x, package: marko-web-theme-monorail
