Repository parameter1/base-cms, pull requests merged in 2023-06, with the labels that each got.

#720 Adjust with-company placement within section feed node
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
  packages/marko-web-theme-monorail/scss/components/blocks/_section-feed.scss
Labels: package: marko-web-theme-monorail

#723 Add input.date support to section-feed-content node
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
Labels: package: marko-web-theme-monorail

#721 Enable configuration of `defaultSortField` within `MarkoWebSearchConfig` and further `MarkoWebSearchQueryParamConfig`
  packages/marko-web-search/components/sort-by/index.marko
  packages/marko-web-search/config/index.js
  packages/marko-web-search/config/query-params.js
  packages/marko-web-theme-monorail/routes/search.js
  packages/marko-web-theme-monorail/templates/search.marko
Labels: bug, package: marko-web-search, package: marko-web-theme-monorail

#727 Add customAnswer support to isProfileComplete check
  packages/marko-web-identity-x/browser/authenticate.vue
Labels: bug, package: marko-web-identity-x

#724 Preserve expected behavior when no query provided
  packages/marko-web-theme-monorail/templates/search.marko
Labels: package: marko-web-search

#731 Configure `theme-section-feed-content-node` to display appropriate date configuration
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
Labels: bug, package: marko-web-theme-monorail

#733 Add verifiedCount to ActiveUser fragment
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/browser/authenticate.vue
Labels: package: marko-web-identity-x
