Repository parameter1/base-cms, pull requests merged in 2023-04, with the labels that each got.

#670 IdentityX: Support required fields when creating new user
  docker-compose.yml
  packages/marko-web-identity-x/api/queries/load-user.js
  packages/marko-web-identity-x/browser/comments/stream.vue
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/comment-stream.marko
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/config.js
  packages/marko-web-identity-x/routes/login.js
  packages/marko-web-identity-x/service.js
  packages/marko-web-omeda-identity-x/integration-hooks/on-login-link-sent.js
  packages/marko-web-omeda/package.json
  packages/marko-web-omeda/rapid-identify.js
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/inline.vue
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/pushdown.vue
  packages/marko-web-theme-monorail/components/identity-x/newsletter-footer.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-inline.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-pushdown.marko
  services/example-website/config/identity-x.js
  services/example-website/config/search.js
  services/example-website/server/templates/content.marko
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x

#673 Move change email button and display address
  packages/marko-web-identity-x/browser/profile.vue
Labels: package: marko-web-identity-x

#674 Move webinar CTA to bottom of info items
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
Labels: package: marko-web-theme-monorail

#671 Port content metering feature to monorail
  docker-compose.yml
  packages/marko-web-theme-monorail/README.md
  packages/marko-web-theme-monorail/browser/content-meter-track.vue
  packages/marko-web-theme-monorail/browser/index.js
  packages/marko-web-theme-monorail/components/blocks/content-meter.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
  packages/marko-web-theme-monorail/middleware/content-gating.js
  packages/marko-web-theme-monorail/middleware/content-metering.js
  packages/marko-web-theme-monorail/package.json
  packages/marko-web-theme-monorail/scss/components/_content-meter.scss
  packages/marko-web-theme-monorail/utils/content-meter-helpers.js
  services/example-website/config/content-meter.js
  services/example-website/config/site.js
  services/example-website/server/components/document.marko
  services/example-website/server/routes/index.js
  services/example-website/server/styles/index.scss
  services/example-website/server/templates/components/content-body.marko
  yarn.lock
Labels: package: marko-web-theme-monorail

#675 Add RadioPublic icon to package
  packages/marko-web-icons/browser/radio-public.vue
  packages/marko-web-icons/svg/radiopublic.svg
Labels: package: marko-web-icons

#681 Fix display of IdentityX custom form controls
  packages/marko-web-identity-x/browser/form/fields/custom-select-group.vue
  packages/marko-web-identity-x/browser/form/fields/custom-select-multiple.vue
  packages/marko-web-theme-monorail/scss/components/_identity-x.scss
  packages/marko-web-theme-monorail/scss/variables/_inputs.scss
Labels: bug, package: marko-web-identity-x, package: marko-web-theme-monorail

#683 Upgrade P1 events lib and add GAM plugin support
  packages/marko-web-p1-events/components/init.marko
  packages/marko-web-p1-events/components/marko.json
Labels: package: marko-web-p1-events

#684 Track reveal ad clicks using P1 events
  packages/marko-web-theme-monorail/browser/reveal-ad-handler.vue
Labels: package: marko-web-theme-monorail

#682 Fix monorail button border radius
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-theme-monorail/scss/_variables.scss
  packages/marko-web-theme-monorail/scss/variables/_buttons.scss
  packages/marko-web-theme-monorail/scss/variables/_inputs.scss
  services/example-website/server/styles/index.scss
Labels: bug, package: marko-web-theme-monorail

#686 Add `includeContentTypes` to `AllContentQueryInput`
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/query-builders/all-content.js
Labels: service: graphql-server

#688 Update P1 events version to support logging
  packages/marko-web-p1-events/components/init.marko
Labels: package: marko-web-p1-events

#689 Upgrade p1-events lib to 1.2.1
  packages/marko-web-p1-events/components/init.marko
Labels: package: marko-web-p1-events

#677 Allow passing image props to section-card-list-block
  packages/marko-web-theme-monorail/components/blocks/section-card-list.marko
Labels: package: marko-web-theme-monorail

#685 Ensure the `failure` and `success` notifiers fire
  packages/web-cli/github-actions/templates/deploy-production.yml.js
  packages/web-cli/github-actions/templates/deploy-staging.yml.js
Labels: bug, package: web-cli

#678 Use `autocomplete.phrase` when configured appropriately.
  packages/marko-web-search/components/query.marko
  packages/marko-web-search/loaders/search.js
Labels: package: marko-web-search

#690 Upgrade P1 events lib to 1.3.0
  packages/marko-web-p1-events/components/init.marko
Labels: package: marko-web-p1-events

#692 Upgrade P1 events lib to 1.3.1
  packages/marko-web-p1-events/components/init.marko
Labels: package: marko-web-p1-events

#691 Add display of content company on section feed nodes
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
  packages/marko-web-theme-monorail/graphql/fragments/section-feed-block.js
  packages/marko-web-theme-monorail/scss/components/blocks/_section-feed.scss
Labels: package: marko-web-theme-monorail

#693 Upgrade P1 events to 1.3.2
  packages/marko-web-p1-events/components/init.marko
Labels: package: marko-web-p1-events

#698 Pass through date format
  packages/marko-web-theme-monorail/components/nodes/content.marko
Labels: package: marko-web-theme-monorail

#697 Add section-feeed-node ${contentType}-content-type modifier
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
  packages/marko-web-theme-monorail/scss/components/blocks/_section-feed.scss
Labels: package: marko-web-theme-monorail

#699 Add date-format support to section-feed-content-node
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
Labels: package: marko-web-theme-monorail
