Repository parameter1/base-cms, pull requests merged in 2023-09, with the labels that each got.

#782 Preserve inline html, fix spelling of "receive"
  packages/marko-web-theme-monorail/components/content/download/identity-x.marko
Labels: package: marko-web-identity-x

#789 Use semi-colon to separate speakers
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
Labels: package: marko-web-theme-monorail

#801 Add tenantKey to native-x config
  packages/marko-web-native-x/config.js
  packages/marko-web-p1-events/components/track-native-story.marko
Labels: package: marko-web-native-x

#799 Pass through `skipWhenExists` for non-SSR rendering of `marko-web-browser-component`'s
  packages/marko-web/components/browser-component.marko
Labels: package: marko-web

#808 Use id prop for user.id
  packages/marko-web-identity-x/config.js
Labels: package: marko-web-identity-x
