Repository parameter1/base-cms, pull requests merged in 2023-12, with the labels that each got.

#830 Include alias on sitemap url query projection.
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#831 Fix content meter dynamic title
  packages/marko-web-theme-monorail/components/blocks/content-meter.marko
Labels: package: marko-web-theme-monorail

#832 Fix meter view limit
  packages/marko-web-theme-monorail/middleware/content-metering.js
Labels: package: marko-web-theme-monorail

#834 Update magazine-current-issue block
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-current-issue.marko
Labels: package: marko-web-theme-monorail-magazine

#836 Add withMagazineSchedules support to content page fragment
  packages/marko-web-theme-monorail/graphql/fragments/content-page.js
Labels: package: marko-web-theme-monorail

#837 Add ‘recommended’ to list of valid form types
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/inline.vue
Labels: package: marko-web-theme-monorail

#838 Set max width for user form
  packages/marko-web-theme-monorail/scss/components/_page-wrapper.scss
Labels: package: marko-web-theme-monorail

#840 Fix identity builder
  packages/marko-web-p1-events/utils/create-omeda-identity-builder.js
Labels: package: marko-web-p1-events

#835 Support RegEx matching on query input for customAttributes, allPublishedContent
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server
