Repository parameter1/base-cms, pull requests merged in 2023-05, with the labels that each got.

#705 Correctly handle beginningAfter||Before in queryTotalCount
  packages/marko-web-theme-monorail/utils/query-total-count.js
Labels: bug, package: marko-web-theme-monorail

#706 Log & abort resync when customer can’t be found
  packages/marko-web-omeda-identity-x/middleware/resync-customer-data.js
Labels: bug, package: marko-web-omeda-identity-x

#707 Attempt to look up decoded URL in redirect handler
  packages/marko-web/express/get-redirect.js
Labels: package: marko-web

#708 Add addDays support
  packages/marko-newsletters/express/template-router.js
Labels: package: marko-newsletters
