Repository parameter1/base-cms, pull requests merged in 2023-01, with the labels that each got.

#530 Pass aliases into content body ad injection component
  packages/marko-web-theme-monorail/components/content/body-with-injection.marko
Labels: bug, package: marko-web-theme-monorail

#531 Add allCompanyContent to query-total-count optionMap
  packages/marko-web-theme-monorail/components/query-total-count.marko
Labels: package: marko-web-theme-monorail

#527 Allow additioinalEventData prop to be passed along
  packages/marko-web-theme-monorail/components/identity-x/comment-stream.marko
Labels: package: marko-web-identity-x, package: marko-web-theme-monorail

#538 Update magazine issue page
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-current-issue.marko
  packages/marko-web-theme-monorail-magazine/components/blocks/magazine-latest-issue.marko
  packages/marko-web-theme-monorail-magazine/routes/index.js
  packages/marko-web-theme-monorail-magazine/scss/index.scss
  packages/marko-web-theme-monorail-magazine/templates/index.marko
  packages/marko-web-theme-monorail-magazine/templates/issue.marko
  packages/marko-web-theme-monorail-magazine/templates/publication.marko
Labels: package: marko-web-theme-monorail-magazine

#539 Add superstitial add css ad variable & css targeting for monorail
  packages/marko-web-theme-monorail/scss/components/_ads.scss
Labels: package: marko-web-theme-monorail

#541 Allow for buttonClass & iconModifiers to be passed as props to idx form toggle button component
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/toggle-button.vue
Labels: package: marko-web-theme-monorail

#542 Add modifiers parameter to inquiry form
  packages/marko-web-theme-monorail/components/blocks/company-inquiry-form.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
Labels: package: marko-web-theme-monorail

#544 Fix spelling of modifiers
  packages/marko-web-theme-monorail/components/blocks/company-inquiry-form.marko
Labels: package: marko-web-theme-monorail

#545 Fix push to modifiers
  packages/marko-web-theme-monorail/components/blocks/company-inquiry-form.marko
Labels: package: marko-web-theme-monorail
