Repository parameter1/base-cms, pull requests merged in 2024-03, with the labels that each got.

#887 Initial mindful newsletter package and example nl
  docker-compose.yml
  packages/marko-newsletters-mindful/.eslintignore
  packages/marko-newsletters-mindful/components/marko.json
  packages/marko-newsletters-mindful/components/native-email-fetch.marko
  packages/marko-newsletters-mindful/marko.json
  packages/marko-newsletters-mindful/package.json
  packages/marko-newsletters-mindful/utils/build-query.js
  packages/marko-newsletters-mindful/utils/fetch-native-email-ad.js
  packages/marko-newsletters-mindful/utils/gql.js
  packages/marko-newsletters-mindful/utils/index.js
  packages/marko-newsletters-mindful/utils/logger.js
  services/example-newsletter/config/core.js
  services/example-newsletter/config/mindful.js
  services/example-newsletter/package.json
  services/example-newsletter/templates/components/mindful-native-email-ad.marko
  services/example-newsletter/templates/daily.marko
Labels: package: marko-newsletters-mindful, service: example-newsletter

#888 Do not error if `mindfulCreativeId` is not found in core-native-x-fetch, marko-newsletters-native-x
  packages/marko-newsletters-native-x/components/core-native-x-fetch.marko
Labels: package: marko-newsletters-native-x

#891 Upgrade P1E library version to v1.3.3
  packages/marko-web-p1-events/components/init.marko
Labels: package: marko-web-p1-events

#892 Marko newsletter render hook
  packages/marko-newsletters/express/template-router.js
  services/graphql-server/src/routes/graphql.js
Labels: package: marko-newsletters

#882 `newsletterEmailSchedules` query
  services/graphql-server/src/graphql/definitions/email/schedule.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/email/schedule.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#889 Use footer width and height for footer logo dimensions
  packages/marko-web-theme-monorail/components/site-footer/index.marko
Labels: bug
