Repository parameter1/base-cms, pull requests merged in 2024-02, with the labels that each got.

#862 Add unified email-x render component
  packages/marko-newsletters-email-x/components/marko.json
  packages/marko-newsletters-email-x/components/render.marko
Labels: package: marko-newsletters-email-x

#867 Allow override of auto and q parameters
  packages/image/src/build-imgix-url.js
Labels: package: image

#869 Support for alias based search routing
  packages/marko-web-search/components/build-href.marko
  packages/marko-web-search/components/filters/load-website-sections.js
  packages/marko-web-search/components/filters/marko.json
  packages/marko-web-search/components/filters/selected/item.marko
  packages/marko-web-search/components/filters/website-sections-by-alias.marko
  packages/marko-web-search/config/index.js
Labels: package: marko-web-search

#870 Only "path reset" using configured `rootAlias` when applicable
  packages/marko-web-search/components/filters/selected/item.marko
Labels: bug, package: marko-web-search

#865 Add `includeContentIds`, website-scheduled-content block-loader
  packages/web-common/src/block-loaders/website-scheduled-content.js
Labels: package: web-common

#871 Update validation & spreading of idnetity-x-inline-form prop util
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/inline.vue
  packages/marko-web-theme-monorail/utils/site-idx-newsletter-menu-props.js
Labels: package: marko-web-theme-monorail

#873 Add IdentityX Entity prop to IdX submit events
  packages/marko-web-identity-x/browser/access.vue
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/change-email-confirm.vue
  packages/marko-web-identity-x/browser/change-email-init.vue
  packages/marko-web-identity-x/browser/download.vue
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/mixins/global-event-emitter.js
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/routes/access.js
  packages/marko-web-identity-x/routes/authenticate.js
  packages/marko-web-identity-x/routes/change-email-confirm.js
  packages/marko-web-identity-x/routes/change-email-init.js
  packages/marko-web-identity-x/routes/comment-count.js
  packages/marko-web-identity-x/routes/comments.js
  packages/marko-web-identity-x/routes/countries.js
  packages/marko-web-identity-x/routes/create-comment.js
  packages/marko-web-identity-x/routes/download.js
  packages/marko-web-identity-x/routes/flag-comment.js
  packages/marko-web-identity-x/routes/login-fields.js
  packages/marko-web-identity-x/routes/login.js
  packages/marko-web-identity-x/routes/logout.js
  packages/marko-web-identity-x/routes/profile.js
  packages/marko-web-identity-x/routes/regions.js
  packages/marko-web-identity-x/service.js
  packages/marko-web-p1-events/browser/index.js
  packages/marko-web-theme-monorail/browser/index.js
Labels: package: marko-web-identity-x, package: marko-web-p1-events

#874 Fix EntityID generation, form access cookie
  packages/marko-web-identity-x/service.js
  services/example-website/middleware/format-content-response.js
  services/example-website/server/templates/content.marko
Labels: bug, package: marko-web-identity-x, service: example-website

#875 Allow inclusion of specific types only, when `contentTypes` is specified, Most Popular blocks, Monorail
  packages/marko-web-theme-monorail/components/blocks/most-popular-list.marko
  packages/marko-web-theme-monorail/components/blocks/most-popular.marko
Labels: package: marko-web-theme-monorail

#877 Use proper accessing of `excludeContentIds`, Most Popular Block
  packages/marko-web-theme-monorail/components/blocks/most-popular.marko
Labels: package: marko-web-theme-monorail

#880 Support `mobileNumber` submission via profile form
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/config.js
  packages/marko-web-identity-x/routes/profile.js
  packages/marko-web-identity-x/service.js
  packages/marko-web-omeda-identity-x/omeda-data/get-omeda-customer-record.js
  packages/marko-web-omeda-identity-x/omeda-data/set-omeda-data.js
  packages/marko-web-omeda-identity-x/rapid-identify.js
  packages/marko-web-omeda/rapid-identify.js
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x, package: marko-web-omeda

#883 Appropriately return whether or not the user was deleted, Identity-X `deleteAppUserForCurrentApplication` service action
  packages/marko-web-identity-x/service.js
Labels: bug, package: marko-web-identity-x

#884 Properly await client.mutate, `deleteAppUserForCurrentApplication` Identity-X service action
  packages/marko-web-identity-x/service.js
Labels: bug, package: marko-web-identity-x
