Repository parameter1/base-cms, pull requests merged in 2024-04, with the labels that each got.

#902 Prevent encoding of newsletter title
  packages/marko-newsletters/components/root.marko
Labels: package: marko-newsletters

#905 Add fallback fonts
  packages/marko-web/scss/fonts/merriweather-fallback.scss
  packages/marko-web/scss/fonts/public-sans-fallback.scss
Labels: package: marko-web

#903 Remove stray console.log and spaces, sections-listed-in, theme-monorail
  packages/marko-web-theme-monorail/components/content/sections-listed-in.marko
Labels: bug, package: marko-web-theme-monorail
