Repository parameter1/base-cms, pull requests merged in 2024-11, with the labels that each got.

#1007 Add sort parameter to magazineScheduledContent
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#1008 Add default sort for magazine scheduled content
  services/graphql-server/src/graphql/definitions/platform/content/index.js
Labels: service: graphql-server

#1009 Add newsletter stealth link component
  packages/marko-newsletters/components/marko.json
  packages/marko-newsletters/components/stealth-link.marko
Labels: package: marko-newsletters

#1011 Ensure prop !null before getting node or setting fallback
  packages/mindful/marko-web/utils/convert-advertising-post-to-native-story.js
Labels: bug

#1013 Add wrapping <p> tags to newsletter content teasers
  packages/web-common/src/block-loaders/newsletter-scheduled-content.js
Labels: package: web-common

#1014 Add wrapping <p> tag to teasers
  packages/marko-newsletters-native-x/components/core-native-x-fetch.marko
Labels: package: marko-newsletters-native-x

#1015 Move html teaser logic to fetch-email-ad util
  packages/marko-newsletters-native-x/components/core-native-x-fetch.marko
  packages/marko-newsletters-native-x/utils/fetch-email-ad.js
Labels: package: marko-newsletters-native-x

#1016 Fix json.data array
  packages/marko-newsletters-native-x/utils/fetch-email-ad.js
Labels: package: marko-newsletters-native-x
