Repository parameter1/base-cms, pull requests merged in 2024-10, with the labels that each got.

#971 Return refreshed user after auth is complete
  packages/marko-web-identity-x/routes/authenticate.js
Labels: package: marko-web-identity-x

#979 Add i18n support to defaultValue of standard-promo block
  packages/marko-web-theme-monorail/components/nodes/standard-promo.marko
Labels: package: marko-web-theme-monorail

#970 Add support for disablement of Related Downloads, Identity-X
  packages/marko-web-identity-x/browser/download.vue
  packages/marko-web-theme-monorail/components/content/download/identity-x.marko
  packages/marko-web-theme-monorail/components/content/download/index.marko
  packages/marko-web-theme-monorail/components/content/download/marko.json
Labels: package: marko-web-identity-x, package: marko-web-theme-monorail

#976 Unify IdentityX profile updates from access & download components
  packages/marko-web-identity-x/browser/access.vue
  packages/marko-web-identity-x/browser/download.vue
  packages/marko-web-theme-monorail/components/content/download/identity-x.marko
Labels: package: marko-web-identity-x

#975 Set active custom selects from IdentityX form configs
  packages/marko-web-identity-x/routes/profile.js
Labels: package: marko-web-identity-x

#977 Add `Query.isUserAuthTokenValid`
  services/graphql-server/src/graphql/definitions/auth.js
  services/graphql-server/src/graphql/resolvers/auth/user.js
Labels: service: graphql-server

#981 allow pass through of updateProfileOnSubmit prop in access component
  packages/marko-web-identity-x/components/form-access.marko
Labels: bug, package: marko-web-identity-x

#983 Port newseltter signup modal from SMG to monorail to use within other sites.
  packages/marko-web-theme-monorail/browser/index.js
  packages/marko-web-theme-monorail/browser/newsletter-signup-modal-listener.vue
  packages/marko-web-theme-monorail/components/identity-x/marko.json
  packages/marko-web-theme-monorail/components/identity-x/newsletter-modal.marko
  packages/marko-web-theme-monorail/middleware/newsletter-modal-state.js
  packages/marko-web-theme-monorail/package.json
  packages/marko-web-theme-monorail/scss/components/_newsletter-signup-modal.scss
  yarn.lock
Labels: package: marko-web-theme-monorail

#982 Add contentAccessState & contentDownloadState middlewares for form display & cookie handeling logic
  packages/marko-web-identity-x/browser/download.vue
  packages/marko-web-identity-x/components/form-access.marko
  packages/marko-web-identity-x/middleware/content-access-state.js
  packages/marko-web-identity-x/middleware/content-download-state.js
  packages/marko-web-identity-x/routes/download.js
  packages/marko-web-theme-monorail/components/content/download/identity-x.marko
Labels: dependencies, package: marko-web-identity-x, package: marko-web-theme-monorail

#989 Add `x-namespace` header when mindful env is present
  packages/marko-web/express/apollo.js
Labels: package: marko-web

#988 Set image|creative height & width attribute within ad render component
  packages/marko-web-mindful-ads/components/render.marko
Labels: dependencies, marko-web-mindful-ads

#990 Make newsletter-modal signup component self contained with configurations
  packages/marko-web-theme-monorail/components/identity-x/newsletter-modal.marko
Labels: dependencies, package: marko-web-theme-monorail

#1002 Correct `es` translation for `phoneLabel`
  packages/marko-web-inquiry/translations.js
Labels: package: marko-web-inquiry
