Repository parameter1/base-cms, pull requests merged in 2024-01, with the labels that each got.

#842 Add mailDate to magazine issue page fragment
  packages/marko-web-theme-monorail-magazine/graphql/fragments/magazine-issue-page.js
Labels: package: marko-web-theme-monorail

#843 Allow all input fields in `magazine-scheduled-content` block-loader
  packages/web-common/src/block-loaders/magazine-scheduled-content.js
Labels: package: web-common

#847 Allow display of author(s) within section-feed-node, Monorail
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
  packages/marko-web-theme-monorail/graphql/fragments/section-feed-block.js
  packages/marko-web-theme-monorail/scss/components/blocks/_section-feed.scss
Labels: package: marko-web-theme-monorail

#849 Adjust positioning of search form button
  packages/marko-web-theme-monorail/scss/components/_search-page.scss
Labels: package: marko-web-theme-monorail

#844 Initial P1Events page scroll depth tacking
  packages/marko-web-p1-events/browser/index.js
  packages/marko-web-p1-events/browser/track-scroll-depth.vue
  packages/marko-web-p1-events/components/marko.json
  packages/marko-web-p1-events/components/track-scroll-depth/content.marko
  packages/marko-web-p1-events/components/track-scroll-depth/marko.json
  packages/marko-web-p1-events/components/track-scroll-depth/native-story.marko
  packages/marko-web-p1-events/components/track-scroll-depth/website-section.marko
  services/example-website/server/templates/content.marko
  services/example-website/server/templates/index.marko
  services/example-website/server/templates/native-x-story.marko
  services/example-website/server/templates/section.marko
Labels: package: marko-web-p1-events

#850 Correct `defaultValue` function signature when `withAuthors` is truthy, section-feed-content-node, Monorail
  packages/marko-web-theme-monorail/components/nodes/section-feed-content.marko
Labels: bug, package: marko-web-theme-monorail

#851 Correctly get node off of edge not content
  packages/marko-web-p1-events/components/track-scroll-depth/content.marko
Labels: bug, package: marko-web-p1-events

#855 Configure Omeda+IdentityX app user creation
  packages/marko-web-identity-x/hooks.js
  packages/marko-web-omeda-identity-x/index.js
  packages/marko-web-omeda-identity-x/middleware/set-identity-cookie.js
  packages/marko-web-omeda-identity-x/validation/schemas/hook-behavior.js
  packages/marko-web-omeda-identity-x/validation/schemas/hook-demographic.js
  packages/marko-web-omeda-identity-x/validation/schemas/hook-promo-code.js
  services/example-website/config/omeda-identity-x.js
Labels: package: marko-web-identity-x, package: marko-web-omeda-identity-x

#857 Allow form config to define consent
  packages/marko-web-identity-x/components/form-access.marko
Labels: package: marko-web-identity-x
