Repository parameter1/base-cms, pull requests merged in 2024-08, with the labels that each got.

#940 Bump the default included scriptSrc to 1.3.4, P1 Events
  packages/marko-web-p1-events/components/init.marko
Labels: package: marko-web-p1-events

#941 Add websiteSchedules to GTM content context
  packages/marko-web-gtm/components/context/content.marko
  packages/marko-web-gtm/context/content.js
Labels: package: marko-web-gtm

#942 Correctly move semicolon to outside of string value, generic `createIdentityBuilder` util
  packages/marko-web-identity-x/utils/create-identity-builder.js
Labels: bug, package: marko-web-identity-x

#944 Include externalContentUrl on heroImageNode TOP STORY
  packages/marko-web-theme-monorail/components/blocks/top-stories.marko
Labels: bug, package: marko-web-theme-monorail

#948 Omeda text demographic support
  packages/marko-web-omeda-identity-x/omeda-data/get-answered-question-map.js
  packages/marko-web-omeda-identity-x/omeda-data/get-omeda-customer-record.js
  packages/marko-web-omeda-identity-x/omeda-data/set-omeda-demographics.js
  packages/marko-web-omeda-identity-x/rapid-identify.js
Labels: package: marko-web-omeda-identity-x

#950 Create synchronous render component
  packages/marko-web-mindful-ads/components/marko.json
  packages/marko-web-mindful-ads/components/render.marko
  packages/marko-web-mindful-ads/components/website-banner.marko
Labels: marko-web-mindful-ads

#952 Correctly utilize Mindful config for scroll depth tracking on Mindful Advertising Posts
  packages/marko-web-p1-events/components/track-scroll-depth/native-story.marko
Labels: package: marko-web-p1-events

#955 Spread input.node within monorail's related-stories block
  packages/marko-web-theme-monorail/components/blocks/related-stories.marko
Labels: package: marko-web-theme-monorail
