Repository parameter1/base-cms, pull requests merged in 2024-09, with the labels that each got.

#960 Use getAsObject for incoming attributes from input
  services/graphql-server/src/graphql/resolvers/email/newsletter.js
Labels: service: graphql-server

#963 Update p1Events lib scriptSrc to latest version v1.4.3
  packages/marko-web-p1-events/components/init.marko
Labels: package: marko-web-p1-events

#964 Add view-more-text support
  packages/marko-web-theme-monorail/components/blocks/content-card-deck.marko
  packages/marko-web-theme-monorail/components/blocks/marko.json
Labels: package: marko-web-theme-monorail

#965 Use view more text in all spots
  packages/marko-web-theme-monorail/components/blocks/content-card-deck.marko
Labels: package: marko-web-theme-monorail

#968 Support sending advertiserIds to mindful ads
  packages/marko-web-mindful-ads/components/marko.json
  packages/marko-web-mindful-ads/components/website-banner.marko
  packages/marko-web-mindful-ads/utils/fetch-ads.js
Labels: marko-web-mindful-ads

#969 Create GraphQL operation logger and plugin
  docker-compose.yml
  packages/db/src/mongodb.js
  services/graphql-server/src/graphql/operation-logger.js
  services/graphql-server/src/graphql/plugins/operation-logger.js
  services/graphql-server/src/routes/graphql.js
  services/graphql-server/src/services.js
Labels: service: graphql-server
