Repository parameter1/base-cms, pull requests merged in 2024-07, with the labels that each got.

#925 Definitions and resolutions to add and remove related content items
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: service: graphql-server

#929 Fix use of input.nodes vs nodes
  packages/marko-web-theme-monorail/components/blocks/content-card-deck.marko
Labels: bug

#930 Remove the spread of querySection as it is not avaiable
  packages/marko-web-theme-monorail/components/blocks/content-card-deck.marko
Labels: bug

#931 Allow for explicit image sizing on Native-X promo cards and newsletter signups
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/inline.vue
  packages/marko-web-theme-monorail/browser/idx-newsletter-form/pushdown.vue
  packages/marko-web-theme-monorail/components/blocks/native-x-promo-card.marko
  packages/marko-web-theme-monorail/components/identity-x/newsletter-pushdown.marko
  packages/marko-web-theme-monorail/components/nodes/standard-promo.marko
  packages/marko-web-theme-monorail/utils/site-idx-newsletter-menu-props.js
Labels: package: marko-web-theme-monorail

#936 Add Raleway font-family fallback font
  packages/marko-web/scss/fonts/raleway-fallback.scss
Labels: package: marko-web
